html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-wide {
  margin: 0 auto;
  max-width: 1800px;
}

.button {
  width: 190px;
  min-height: 55px;
  color: #fff;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  padding: 5px;
}

.header {
  background-image: url(../images/office.jpg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position-x: 50%;
}

.header__color-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 180px;
}

.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
}

.header__logo {
  width: 126px;
  height: 32px;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  height: 22px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.header__menu-item:hover {
  border-bottom: 2px solid #fb414e;
}

.header__menu-item:not(:last-child) {
  margin-right: 60px;
}

.header__menu-link {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.header__center {
  padding-top: 126px;
}

.header__title {
  font-family: "Source Sans Pro";
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  width: 950px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 66px;
  line-height: normal;
}

.header__text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 66px;
  line-height: 28px;
}

.header__btn-container {
  text-align: center;
}

.header__btn {
  border-color: #fb414e;
  display: inline-block;
}

.header__btn:hover {
  background-color: #fb414e;
}

.header__start-btn {
  margin-right: 30px;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -85px;
  padding-bottom: 140px;
}

.solutions__card {
  width: 420px;
  height: 420px;
  padding: 77px 58px 73px 58px;
  background-color: #202b30;
}

.solutions__card:hover {
  background-color: #fb414e;
}

.solutions__card:not(:last-child) {
  margin-right: 20px;
}

.solutions__card-img {
  width: 61px;
  height: 61px;
  margin-bottom: 53px;
}

.solutions__card-title {
  margin-bottom: 63px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  position: relative;
}

.solutions__card-title:after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 47px;
}

.solutions__card-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
}

.services {
  padding-bottom: 143px;
}

.services__title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #fb414e;
  text-align: center;
  margin-bottom: 30px;
}

.services__explain-title {
  color: #1f1f1f;
  font-family: "Source Sans Pro";
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.services__explain-title-decor {
  color: #fb414e;
}

.services__text {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 127px;
}

.services__feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__feature {
  width: 300px;
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__feature:not(:nth-child(3n)) {
  margin-right: 195px;
}

.services__feature:first-child, .services__feature:nth-child(2), .services__feature:nth-child(3) {
  margin-bottom: 70px;
}

.services__feature-img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 32px;
}

.services__feature-title {
  color: #1f1f1f;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.services__feature-text {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.promo {
  background-color: #202b30;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 114px;
  padding-bottom: 115px;
}

.promo__left-side {
  width: 50%;
}

.promo__title {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.promo__text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 60px;
  max-width: 557px;
}

.promo__btn {
  border-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.promo__btn:hover {
  color: #202b30;
  background-color: #fff;
}

.promo__right-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo__img {
  width: 256px;
  height: 370px;
}

.promo__img:hover {
  background-image: #fb414e;
  opacity: 1;
}

.promo__first-img {
  margin-right: 35px;
}

.features {
  background-color: #f8f8f8;
}

.features__container {
  padding-top: 138px;
  padding-bottom: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__left, .features__right {
  max-width: 50%;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features__list-item {
  max-width: 270px;
  min-height: 115px;
}

.features__list-item:nth-child(odd) {
  margin-right: 64px;
}

.features__list-item:first-child, .features__list-item:nth-child(2) {
  margin-bottom: 76px;
}

.features__list-title {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 23px;
  color: #1f1f1f;
}

.features__list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #838383;
}

.features__title {
  color: #1f1f1f;
  font-size: 48px;
  font-family: "Source Sans Pro";
  margin-bottom: 60px;
  font-weight: 700;
}

.features__text {
  color: #838383;
  font-weight: 300;
  line-height: 28px;
  font-family: Roboto;
}

.features__upper-text {
  margin-bottom: 32px;
}

.portfolio {
  padding-top: 138px;
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__menu-item {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  color: #A4A4A4;
}

.portfolio__menu-item:hover {
  border-bottom: 1px solid #1f1f1f;
}

.portfolio__menu-item:not(:last-child) {
  margin-right: 70px;
}

.portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__projects-list-item {
  margin-bottom: 8px;
}

.portfolio__projects-list-item:not(:nth-child(4n)) {
  margin-right: 8px;
}

.portfolio__projects-list-item:hover {
  opacity: .7;
}

.portfolio__project-list-img {
  width: 385px;
  height: 335px;
}

.clients .clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
  padding-bottom: 125px;
}

.clients .clients__left {
  width: 50%;
}

.clients .clients__title {
  color: #1f1f1f;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin-bottom: 50px;
}

.clients .clients__text {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  color: #1f1f1f;
  width: 560px;
  margin-bottom: 50px;
  line-height: 28px;
}

.clients .clients__btn {
  width: 190px;
  min-height: 51px;
  font-family: Roboto;
  font-size: 16px;
  border: 2px solid #1f1f1f;
  background-color: transparent;
}

.clients .clients__btn:hover {
  background-color: #1f1f1f;
  color: #fff;
}

.clients .clients__right {
  width: 50%;
}

.brands {
  background-color: #202b30;
}

.brands .brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 140px;
}

.brands .brands__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 120px;
}

.brands .brands__pic:first-child,
.brands .brands__pic:nth-child(3) {
  margin-right: 80px;
}

.brands .brands__pic:first-child,
.brands .brands__pic:nth-child(2) {
  margin-bottom: 75px;
}

.brands .brands__first-pic {
  background-image: url(/images/brands/fast-company.png);
  width: 229px;
  height: 34px;
}

.brands .brands__second-pic {
  background-image: url(/images/brands/southern-company.png);
  width: 217px;
  height: 76px;
}

.brands .brands__third-pic {
  background-image: url(/images/brands/angles.png);
  width: 142px;
  height: 103px;
}

.brands .brands__fourth-pic {
  background-image: url(/images/brands/v-ips.png);
  width: 215px;
  height: 70px;
}

.brands .brands__right {
  width: 50%;
  color: #fff;
  padding-top: 160px;
  text-align: right;
}

.brands .brands__title {
  color: #fff;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin-bottom: 50px;
}

.brands .brands__text {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  margin-bottom: 50px;
  line-height: 28px;
}
/*# sourceMappingURL=index.css.map */