html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-wide {
  margin: 0 auto;
  max-width: 1800px;
}

.button {
  width: 190px;
  min-height: 55px;
  color: #fff;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  padding: 5px;
}

.header {
  background-image: url(../images/office.jpg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position-x: 50%;
}

.header .header__color-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 180px;
}

.header .header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
}

.header .header__logo {
  width: 126px;
  height: 32px;
  display: block;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__menu-item {
  height: 22px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.header .header__menu-item:hover {
  border-bottom: 2px solid #fb414e;
}

.header .header__menu-item:not(:last-child) {
  margin-right: 60px;
}

.header .header__menu-link {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.header .header__center {
  padding-top: 126px;
}

.header .header__title {
  font-family: "Source Sans Pro";
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  width: 950px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 66px;
  line-height: normal;
}

.header .header__text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 66px;
  line-height: 28px;
}

.header .header__btn-container {
  text-align: center;
}

.header .header__btn {
  border-color: #fb414e;
  display: inline-block;
}

.header .header__btn:hover {
  background-color: #fb414e;
}

.header .header__start-btn {
  margin-right: 30px;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -85px;
  padding-bottom: 140px;
}

.solutions .solutions__card {
  width: 420px;
  height: 420px;
  padding: 77px 58px 73px 58px;
  background-color: #202b30;
}

.solutions .solutions__card:hover {
  background-color: #fb414e;
}

.solutions .solutions__card:not(:last-child) {
  margin-right: 20px;
}

.solutions .solutions__card-img {
  width: 61px;
  height: 61px;
  margin-bottom: 53px;
}

.solutions .solutions__card-title {
  margin-bottom: 63px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  position: relative;
}

.solutions .solutions__card-title:after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 47px;
}

.solutions .solutions__card-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
}

.services {
  padding-bottom: 143px;
}

.services .services__title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: #fb414e;
  text-align: center;
  margin-bottom: 30px;
}

.services .services__explain-title {
  color: #1f1f1f;
  font-family: "Source Sans Pro";
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.services .services__explain-title-decor {
  color: #fb414e;
}

.services .services__text {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 127px;
}

.services .services__feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services__feature {
  width: 300px;
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__feature:not(:nth-child(3n)) {
  margin-right: 195px;
}

.services .services__feature:first-child,
.services .services__feature:nth-child(2),
.services .services__feature:nth-child(3) {
  margin-bottom: 70px;
}

.services .services__feature-img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 32px;
}

.services .services__feature-title {
  color: #1f1f1f;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.services .services__feature-text {
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.promo {
  background-color: #202b30;
}

.promo .promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 114px;
  padding-bottom: 115px;
}

.promo .promo__left-side {
  width: 50%;
}

.promo .promo__title {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.promo .promo__text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 60px;
  max-width: 557px;
}

.promo .promo__btn {
  border-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.promo .promo__btn:hover {
  color: #202b30;
  background-color: #fff;
}

.promo .promo__right-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo .promo__img {
  width: 256px;
  height: 370px;
}

.promo .promo__img:hover {
  background-image: #fb414e;
  opacity: 1;
}

.promo .promo__first-img {
  margin-right: 35px;
}

.features {
  background-color: #f8f8f8;
}

.features .features__container {
  padding-top: 138px;
  padding-bottom: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .features__left,
.features .features__right {
  max-width: 50%;
}

.features .features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.features .features__list-item {
  max-width: 270px;
  min-height: 115px;
}

.features .features__list-item:nth-child(odd) {
  margin-right: 64px;
}

.features .features__list-item:first-child,
.features .features__list-item:nth-child(2) {
  margin-bottom: 76px;
}

.features .features__list-title {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 23px;
  color: #1f1f1f;
}

.features .features__list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #838383;
}

.features .features__title {
  color: #1f1f1f;
  font-size: 48px;
  font-family: "Source Sans Pro";
  margin-bottom: 60px;
  font-weight: 700;
}

.features .features__text {
  color: #838383;
  font-weight: 300;
  line-height: 28px;
  font-family: Roboto;
}

.features .features__upper-text {
  margin-bottom: 32px;
}

.portfolio {
  padding-top: 138px;
}

.portfolio .portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio .portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .portfolio__menu-item {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  color: #A4A4A4;
}

.portfolio .portfolio__menu-item:hover {
  border-bottom: 1px solid #1f1f1f;
}

.portfolio .portfolio__menu-item:not(:last-child) {
  margin-right: 70px;
}

.portfolio .portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio__projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio__projects-list-item {
  margin-bottom: 8px;
}

.portfolio .portfolio__projects-list-item:not(:nth-child(4n)) {
  margin-right: 8px;
}

.portfolio .portfolio__projects-list-item:hover {
  opacity: .7;
}

.portfolio .portfolio__project-list-img {
  width: 385px;
  height: 335px;
}

.clients .clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
  padding-bottom: 125px;
}

.clients .clients__left {
  width: 50%;
}

.clients .clients__title {
  color: #1f1f1f;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin-bottom: 50px;
}

.clients .clients__text {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  color: #1f1f1f;
  width: 560px;
  margin-bottom: 50px;
  line-height: 28px;
}

.clients .clients__btn {
  width: 190px;
  min-height: 51px;
  font-family: Roboto;
  font-size: 16px;
  border: 2px solid #1f1f1f;
  background-color: transparent;
}

.clients .clients__btn:hover {
  background-color: #1f1f1f;
  color: #fff;
}

.clients .clients__right {
  width: 50%;
}

.brands {
  background-color: #202b30;
}

.brands .brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 140px;
}

.brands .brands__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 120px;
}

.brands .brands__pic:first-child,
.brands .brands__pic:nth-child(3) {
  margin-right: 80px;
}

.brands .brands__pic:first-child,
.brands .brands__pic:nth-child(2) {
  margin-bottom: 75px;
}

.brands .brands__first-pic {
  background-image: url(/images/brands/fast-company.png);
  width: 229px;
  height: 34px;
}

.brands .brands__second-pic {
  background-image: url(/images/brands/southern-company.png);
  width: 217px;
  height: 76px;
}

.brands .brands__third-pic {
  background-image: url(/images/brands/angles.png);
  width: 142px;
  height: 103px;
}

.brands .brands__fourth-pic {
  background-image: url(/images/brands/v-ips.png);
  width: 215px;
  height: 70px;
}

.brands .brands__right {
  width: 50%;
  color: #fff;
  padding-top: 160px;
  text-align: right;
}

.brands .brands__title {
  color: #fff;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin-bottom: 50px;
}

.brands .brands__text {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  margin-bottom: 50px;
  line-height: 28px;
}

.benefits {
  background-color: #f8f8f8;
}

.benefits .benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.benefits .benefits__left {
  width: 50%;
  padding-top: 140px;
  -webkit-box-shadow: 100px 20px 10px -30px #f8f8f8;
          box-shadow: 100px 20px 10px -30px #f8f8f8;
  z-index: 100;
}

.benefits .benefits__title {
  min-width: 515px;
  color: #1f1f1f;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 50px;
}

.benefits .benefits__text {
  max-width: 570px;
  color: #838383;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 52px;
}

.benefits .benefits__left-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .benefits__card-img {
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
}

.benefits .benefits__card-img--left {
  background-image: url(/images/benefits/database.png);
}

.benefits .benefits__card-img--right {
  background-image: url(/images/benefits/framework.png);
}

.benefits .benefits__card-title {
  color: #5e5e5e;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  margin-bottom: 30px;
}

.benefits .benefits__card-text {
  max-width: 570px;
  color: #838383;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 140px;
}

.benefits .benefits__right {
  width: 100%;
  height: 100%;
  background-image: url(/images/benefits/bench.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -700px;
  top: 0;
}

.order .order__container {
  padding-bottom: 140px;
}

.order .order__form-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.order .order__form-upper-left {
  width: 50%;
  text-align: right;
  padding-right: 150px;
  padding-top: 140px;
}

.order .order__title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: #000;
  font-size: 60px;
  margin-bottom: 40px;
}

.order .order__text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #838383;
  max-width: 490px;
  text-align: right;
  display: inline-block;
}

.order .order__text:first-of-type {
  margin-bottom: 30px;
}

.order .order__form-upper-right {
  width: 50%;
  padding-top: 152px;
}

.order .order__form-input {
  border: 1px solid #000;
  padding-left: 20px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
}

.order .order__form-input:not(:last-child) {
  height: 51px;
}

.order .order__form-input::-webkit-input-placeholder {
  color: #000;
}

.order .order__form-input:-ms-input-placeholder {
  color: #000;
}

.order .order__form-input::-ms-input-placeholder {
  color: #000;
}

.order .order__form-input::placeholder {
  color: #000;
}

.order .order__form-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.order .order__form-input:focus:-ms-input-placeholder {
  color: transparent;
}

.order .order__form-input:focus::-ms-input-placeholder {
  color: transparent;
}

.order .order__form-input:focus::placeholder {
  color: transparent;
}

.order .order__form-input--name {
  width: 100%;
  margin-bottom: 20px;
}

.order .order__inputs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.order .order__form-input--company,
.order .order__form-input--email {
  width: 310px;
}

.order .order__form-input--service {
  width: 100%;
  margin-bottom: 20px;
  background-image: url(/images/order/drop-down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.order .order__form-input--service-option {
  height: 50px;
}

.order .order__form-input--textarea {
  width: 100%;
  min-height: 270px;
  max-height: 400px;
  padding: 20px;
  resize: vertical;
}

.order .order__form-input--submit {
  background-color: #fb414e;
  border: 2px solid #fb414e;
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  height: 48px;
  width: 100%;
  border: none;
  opacity: 1;
}

.order .order__form-input--submit:hover {
  color: #fb414e;
  background-color: #fff;
  border: 2px solid #fb414e;
}

.order .order__form-input--submit:active {
  background-color: #fb414e;
  color: #fff;
}

.footer {
  background-color: #202b30;
  color: #fff;
  font-family: Roboto;
}

.footer .footer__left {
  width: 50%;
  padding-top: 100px;
}

.footer .footer__logo-link {
  margin-bottom: 100px;
  display: block;
}

.footer .footer__contact {
  font-weight: 500;
  margin-bottom: 30px;
}

.footer .footer__address {
  max-width: 340px;
  line-height: 28px;
  margin-bottom: 100px;
}

.footer .footer__address,
.footer .footer__email-link,
.footer .footer__tel-link {
  color: inherit;
  font-weight: 300;
}

.footer .footer__email-link:hover,
.footer .footer__tel-link:hover {
  color: #cccccc;
}

.footer .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__socials-item:not(:last-child) {
  margin-right: 24px;
}

.footer .footer__socials-item-link {
  width: 16px;
  height: 16px;
  display: block;
}

.footer .footer__socials-item-link:hover {
  opacity: .8;
}

.footer .footer__socials-item-link--inst {
  background-image: url(/images/footer/inst.png);
}

.footer .footer__socials-item-link--fb {
  background-image: url(/images/footer/fb.png);
}

.footer .footer__socials-item-link--tw {
  background-image: url(/images/footer/tw.png);
}

.footer .footer__socials-item-link--ln {
  background-image: url(/images/footer/ln.png);
}

.footer .footer__right {
  width: 50%;
}
/*# sourceMappingURL=index.css.map */