$primary-color: #202b30;
$secondary-color: #fb414e;

$default-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Oxygen,
Ubuntu,
Cantarell,
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

$primary-font: Roboto;
$secondary-font: 'Source Sans Pro';