@import '_fonts';
@import '_vars';
@import '_mixins';

@import 'UI/_nav';
@import 'UI/_button';
@import 'UI/_scroll-to-top-button';


html {
  box-sizing: border-box;
  font-size: 16px;
}

// @media screen and (max-width: 768px){
//   html {
//     font-size: 12px;
//   }
// }

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: lighten($secondary-color, 20%);
}

a {
  text-decoration: none;
}


img {
  display: block;
}

button:hover,
input[type="submit"]:hover {
  transition: .2s all ease;
}

body {
  font-family: $default-font;
  overflow-x: hidden;
  width: 100vw;

  // background-color: red !important;
}

.body--active {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-wide {
  margin: 0 auto;
  max-width: 1800px;
}

.card-modal {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);

  z-index: 10;

  .card-modal__close-btn {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50px;
    right: 50px;

    cursor: pointer;

    // background-color: #fff;
  }

  .card-modal__close-btn::before,
  .card-modal__close-btn::after {
    position: absolute;
    top: 18px;
    left: -5px;
    content: '';
    width: 50px;
    height: 5px;
    border-radius: 15%;
    background-color: #b5b8b1;
  }

  .card-modal__close-btn::before {
    transform: rotate(45deg);
  }

  .card-modal__close-btn::after {
    transform: rotate(135deg);
  }

  .card-modal__close-btn:hover::before {
    background-color: lighten(#b5b8b1, 10%)
  }

  .card-modal__close-btn:hover::after {
    background-color: lighten(#b5b8b1, 10%)
  }

  .card-modal__video {
    width: 1000px;
    height: 565px;
    // background-color: #fff;

    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 282.5px);
  }
}

.map-modal {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);

  z-index: 10;

  .map-modal__close-btn {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50px;
    right: 50px;

    cursor: pointer;

    // background-color: #fff;
  }

  .map-modal__close-btn::before,
  .map-modal__close-btn::after {
    position: absolute;
    top: 18px;
    left: -5px;
    content: '';
    width: 50px;
    height: 5px;
    border-radius: 15%;
    background-color: #b5b8b1;
  }

  .map-modal__close-btn::before {
    transform: rotate(45deg);
  }

  .map-modal__close-btn::after {
    transform: rotate(135deg);
  }

  .map-modal__close-btn:hover::before {
    background-color: lighten(#b5b8b1, 10%)
  }

  .map-modal__close-btn:hover::after {
    background-color: lighten(#b5b8b1, 10%)
  }

  .map-modal__container {
    width: 1000px;
    height: 565px;
    // background-color: #fff;

    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 282.5px);
  }
}


.header {
  background-image: url(../images/office.jpg);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position-x: 50%;
  // padding-bottom: 245px; // по avocode ?
  // padding-bottom: 190px;




  .header__color-wrapper {
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 242px; // выставлено по картинке на экране 180

    // box-shadow: 0px -31px 13px -15px rgba(255, 255, 255, 1) inset;

  }


  @media screen and (max-width: 959px) {
    .header__color-wrapper {
      padding-bottom: 162px; // 142
    }
  }

  .header__upper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px; // 60

  }

  @media screen and (max-width: 1400px) {
    .header__upper {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .header__logo {
    width: 126px;
    height: 32px;
    display: block;
    padding-top: 10px;
  }

  .header__center {
    padding-top: 110px; // 126
  }

  @media screen and (max-width: 1400px) {
    .header__center {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .header__title {
    font-family: $secondary-font;
    font-size: 60px;
    font-weight: 700; // ?
    color: #fff;
    max-width: 950px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px; // 66

    line-height: normal;
    letter-spacing: .3px;
  }

  .header__text {
    color: #fff;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;

    line-height: 28px;
  }

  .header__btn-container {
    text-align: center;
    // margin-bottom: 245px;
  }

  .header__btn {
    border-color: $secondary-color;
    display: inline-block;
  }

  .header__btn:hover {
    background-color: $secondary-color;
  }

  .header__start-btn {
    margin-right: 30px;
  }
}

.solutions {
  display: flex;
  justify-content: center;
  margin-top: -92px;

  // transform: translateY(250px);
  // transition: 1s all ease;
  // opacity: 0;

  // &--active {
  //   transform: translateY(0);
  //   opacity: 1;
  // }

  @include sections-onscroll-display;

  // padding-bottom: 140px;

  .solutions__card {
    max-width: 420px;
    min-height: 420px;
    padding: 77px 58px 73px 58px; // 73 bottom
    background-color: $primary-color;
    cursor: pointer;

    position: relative;

    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, .2);
  }

  @media screen and (max-width: 1200px) {
    .solutions__card {
      padding: 40px;
    }
  }


  .solutions__card:hover {
    background-color: $secondary-color;
    transition: .2s all ease;
    transform: scale(1.03);
    // transition: .3s transform ease;
  }

  .solutions__card:not(:last-child) {
    margin-right: 20px;
  }

  // .solutions__card-pointer {
  //   width: 50px;
  //   height: 60px;

  //   // z-index: 1000;

  //   position: absolute;
  //   top: 50px;
  //   right: 50px;

  //   // transform: rotate(-30deg);
  // }

  // .solutions__card-pointer:hover {
  // transform: translateX(-5px) rotate(-30deg);;
  // }

  .solutions__card-img {
    width: 61px;
    height: 61px;
    margin-bottom: 53px;
  }

  .solutions__card-title {
    margin-bottom: 59px; // 63
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: relative;

  }

  .solutions__card-title:after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50px;
  }

  .solutions__card-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
  }

}

// .card-modal {
//   display: none;

//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);

//   z-index: 10;

//   .card-modal__close-btn {
//     width: 40px;
//     height: 40px;

//     position: absolute;
//     top: 50px;
//     right: 50px;

//     cursor: pointer;

//     // background-color: #fff;
//   }

//   .card-modal__close-btn::before,
//   .card-modal__close-btn::after {
//     position: absolute;
//     top: 18px;
//     left: -5px;
//     content: '';
//     width: 50px;
//     height: 5px;
//     border-radius: 15%;
//     background-color: #b5b8b1;

//   }

//   .card-modal__close-btn::before {
//     transform: rotate(45deg);
//   }

//   .card-modal__close-btn::after {
//     transform: rotate(135deg);
//   }

//   .card-modal__close-btn:hover::before {
//     background-color: lighten(#b5b8b1, 10%)
//   }

//   .card-modal__close-btn:hover::after {
//     background-color: lighten(#b5b8b1, 10%)
//   }

//   .card-modal__video {
//     width: 1000px;
//     height: 565px;
//     // background-color: #fff;

//     position: absolute;
//     left: calc(50% - 500px);
//     top: calc(50% - 282.5px);
//   }
// }

.services {
  padding-top: 140px;
  padding-bottom: 137px;

  @include sections-onscroll-display;

  @media screen and (max-width: 992px) {
    & {
      padding-top: 98px; // 70% от начального
      padding-bottom: 96px;
    }
  }


  .services__title {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    color: $secondary-color;
    text-align: center;
    margin-bottom: 19px;
  }

  .services__explain-title {
    color: #1f1f1f;
    font-family: $secondary-font;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
  }

  @media screen and (max-width: 992px) {
    .services__explain-title {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .services__explain-title-decor {
    color: $secondary-color;
  }

  .services__text {
    color: #838383;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 123px;
  }

  @media screen and (max-width: 992px) {
    .services__text {
      padding-left: 40px;
      padding-right: 40px;

      margin-bottom: 86px;
    }
  }

  .services__feature-container {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1400px) {
    .services__feature-container {
      padding-left: 60px;
      padding-right: 60px;

      justify-content: space-evenly;
    }
  }

  .services__feature {
    width: 300px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // @media screen and (max-width: 1400px) {
  //   .services__feature {
  //     margin-bottom: 62px;
  //   }
  // }

  .services__feature:not(:nth-child(3n)) {
    margin-right: 195px;
  }

  @media screen and (max-width: 1400px) {
    .services__feature:not(:nth-child(3n)) {
      margin-right: 0;
    }
  }

  .services__feature:first-child,
  .services__feature:nth-child(2),
  .services__feature:nth-child(3) {
    // ?
    margin-bottom: 62px;
  }

  .services__feature-img {
    object-fit: contain;
    margin-bottom: 25px;
  }

  .services__feature-title {
    color: #1f1f1f;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 26px;
  }

  .services__feature-text {
    color: #838383;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
  }

  // .services__feature-container {
  // opacity: .5;
  // }

}

.promo {
  background-color: $primary-color;

  @include sections-onscroll-display;

  .promo__container {
    // width: 1800px;
    display: flex;
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media screen and (max-width: 1400px) {
    .promo__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 992px) {
    .promo__container {
      padding-top: 80px;
      //  padding-bottom: 50px;
    }
  }

  .promo__left-side {
    width: 50%;
    padding-top: 10px;
  }

  .promo__title {
    color: #ffffff;
    font-family: $secondary-font;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 46px;

    line-height: 55px;
  }

  .promo__text {
    color: #fff;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 50px;
    max-width: 557px;
  }

  .promo__btn {
    border-color: #fff;
    font-family: $primary-font;
    ;
    font-size: 16px;
    font-weight: 400;
  }

  .promo__btn:hover {
    color: $primary-color;
    background-color: #fff;
  }

  .promo__right-side {
    width: 50%;
    padding-left: 100px;
  }

  @media screen and (max-width: 1350px) {
    .promo__right-side {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1350px) {
    .promo__carousel-container {
      width: 256px; // повторы 
      // height: 370px; // повторы 
    }

  }

  .slick-list {
    position: relative;
    margin-bottom: 30px;
  }

  .promo__carousel-slide {
    width: 256px; // повторы 
    height: 370px; // повторы 

    margin-right: 35px;
  }

  .promo__img {
    width: 256px; // повторы 
    height: 370px; // повторы 
  }

  .promo__img:hover {
    background-image: $secondary-color;
    // opacity: 1;
  }

  .promo__first-img {
    margin-right: 35px;
  }

  .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;

    background: url(../images/arrow.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: 0;

    // display: none !important;
  }

  .slick-prev {
    left: 5px;
    top: calc(50% - 45px);
    transform: rotate(270deg);

  }

  .slick-next {
    right: 5px;
    top: calc(50% - 45px);
    transform: rotate(90deg);
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    // margin-top: 30px;
    // display: none !important;
  }

  .slick-dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }

  .slick-dots li button {
    // list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slick-active {
    background-color: #fff;
    z-index: 100;
  }

}

.features {
  background-color: #f8f8f8;

  @include sections-onscroll-display;

  .features__container {

    padding-top: 138px;
    padding-bottom: 143px;
    display: flex;
  }

  @media screen and (max-width: 1400px) {
    .features__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 992px) {
    .features__container {
      padding-top: 97px;
      padding-bottom: 100px;
    }
  }

  .features__left,
  .features__right {
    max-width: 50%;
  }


  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media screen and (max-width: 1350px) {
    .features__list {
      display: flex;
      justify-content: center;
    }
  }

  .features__list-item {
    max-width: 270px;
    min-height: 115px;
  }

  .features__list-item:nth-child(odd) {
    margin-right: 59px;
  }

  @media screen and (max-width: 1350px) {
    .features__list-item:nth-child(odd) {
      margin-right: 0;
    }
  }

  .features__list-item:first-child,
  .features__list-item:nth-child(2) {
    margin-bottom: 69px;
  }

  @media screen and (max-width: 1350px) {
    .features__list-item:nth-child(3) {
      margin-bottom: 69px;
    }
  }

  .features__list-title {
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #1f1f1f;
  }

  .features__list-text {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #838383;
  }

  .features__right {
    padding-left: 10px;
  }

  .features__title {
    color: #1f1f1f;
    font-size: 48px; // 48
    font-family: $secondary-font;
    margin-bottom: 47px;
    font-weight: 700;

    line-height: 50px;

  }

  .features__title {
    
  }

  .features__text {
    color: #838383;
    font-weight: 300;
    line-height: 28px;
    font-family: $primary-font;
  }

  .features__upper-text {
    margin-bottom: 32px;
  }

}

.portfolio {
  padding-top: 138px;

  @include sections-onscroll-display;

  @media screen and (max-width: 992px) {
    & {
      padding-top: 97px;
    }
  }

  .portfolio__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .portfolio__menu {
    display: flex;
  }

  .portfolio__menu-item {
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    cursor: pointer;

    color: #A4A4A4;
  }

  .portfolio__menu-item:hover {
    border-bottom: 1px solid #1f1f1f;
  }



  .portfolio__menu-item:not(:last-child) {
    margin-right: 65px;
  }

  @media screen and (max-width: 1500px) {
    .portfolio__menu-item:not(:last-child) {
      margin-right: 45px;
    }
  }

  // .portfolio__projects-list {
  //   display: flex;
  // }

  @media screen and (max-width: 1500px) {
    .portfolio__projects-container {
      padding-left: 40px;
      padding-right: 40px;

      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .portfolio__projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 1350px) {
    .portfolio__projects-list {
      justify-content: space-evenly;
    }
  }

  .portfolio__projects-list-item {
    margin-bottom: 8px;
  }

  .portfolio__projects-list-item:not(:nth-child(4n)) {
    margin-right: 8px; // 8
  }

  @media screen and (max-width: 1500px) {
    .portfolio__projects-list-item {
      margin-right: 8px; // 8
    }
  }

  // @media screen and (max-width: 1350px) {
  //   .portfolio__projects-list-item {

  //   }
  // }

  .portfolio__projects-list-item:hover {
    opacity: .7;
  }

  // .portfolio__project-list-img {
  //   width: 443px;
  //   // width: 385px;
  //   height: 335px;
  // }

  @media screen and (min-width: 1920px) {
    .portfolio__project-list-img {
      width: 443px;
      // width: 385px;
      height: 335px;
    }
  }

  @media screen and (max-width: 1919px) {
    .portfolio__project-list-img {
      width: 350px;
      height: 250px;
    }
  }

  @media screen and (max-width: 992px) {
    .portfolio__project-list-img {
      width: 300px;
      height: 200px;
    }
  }


}


.clients {

  @include sections-onscroll-display;


  .clients__container {
    display: flex;
    padding-top: 126px;
    padding-bottom: 113px;

  }

  @media screen and (max-width: 1400px) {
    .clients__container {
      padding-left: 40px;
      padding-right: 40px;

      // display: flex;
      // flex-direction: column;
    }
  }

  @media screen and (max-width: 1150px) {
    .clients__container {
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: 992px) {
    .clients__container {
      padding-top: 88px;
      padding-bottom: 85px;
    }
  }

  .clients__left {
    width: 50%;
  }

  @media screen and (max-width: 1400px) {
    .clients__left {
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 1150px) {
    .clients__left {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .clients__title {
    color: #1f1f1f;
    font-size: 48px;
    font-family: $secondary-font;
    font-weight: 700;
    margin-bottom: 46px;
    line-height: 52px;
  }

  @media screen and (max-width: 1150px) {
    .clients__title {
      text-align: center;
    }
  }

  .clients__text {
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 300;
    color: #1f1f1f;
    max-width: 560px;
    margin-bottom: 54px;
    line-height: 28px;

  }

  @media screen and (max-width: 1150px) {
    .clients__text {
      text-align: center;
    }
  }

  .clients__btn {
    width: 190px;
    min-height: 51px;
    font-family: $primary-font;
    font-size: 16px;
    border: 2px solid #1f1f1f;
    background-color: transparent;
  }

  .clients__btn:hover {
    background-color: #1f1f1f;
    color: #fff;
  }

  .clients__right {
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
  }

  @media screen and (max-width: 1150px) {
    .clients__right {
      width: auto;
      padding-top: 50px;

      display: flex;
      justify-content: center;
    }
  }

  .clients__right-container {
    position: relative;
  }

  .clients__video {
    width: 660px;
    // height: 336px;
    margin-top: -20px;
    // width: 650x;
    // height: 340px;
  }

  .clients__video:hover {
    cursor: pointer;
  }

  .clients__video-btn {
    width: 90px;
    height: 90px;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 45px);
    border-radius: 50%;
    border: 1px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clients__video-btn:hover {
    cursor: pointer;
  }

  .clients__video-btn-play {
    background-image: url(../images/play-btn.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 16px;
  }

  .clients__video-btn-play--active {
    opacity: .7;
  }

  .clients__video-btn-play--hidden {
    display: none;
  }




}

.brands {
  background-color: #202b30;

  @include sections-onscroll-display;

  .brands__container {
    display: flex;
    padding-bottom: 85px;
  }

  @media screen and (max-width: 1400px) {
    .brands__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 830px) {
    .brands__container {
      flex-direction: column;
    }
  }

  .brands__left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-right: 120px;

  }

  @media screen and (max-width: 1400px) {
    .brands__left {
      padding-right: 60px;
      // width: auto;
    }
  }

  @media screen and (max-width: 830px) {
    .brands__left {
      display: flex;
      justify-content: space-evenly;
      align-items: start;
      width: auto;
    }
  }

  .brands__pic {
    // opacity: 50%;
    // transition: 1s all ease;

    transition: .5s all ease;
  }

  // .brands__pic:hover {
    // filter: grayscale(100%);

    // transform: skew(-15deg, 15deg);

  //   transform: scale(1.1);

  //   transition: 1s all ease;
  // }

  .brands__pic:first-child,
  .brands__pic:nth-child(3) {
    margin-right: 80px;
  }

  .brands__pic:nth-child(3) {
    margin-bottom: 32px;
  }

  .brands__pic:nth-child(4) {
    margin-bottom: 5px;
  }

  // .brands__pic:first-child,
  // .brands__pic:nth-child(2) {
  //   margin-bottom: 30px; // 75
  // }

  .brands__pic--active {
    transform: scale(1.2);
    transition: .5s all ease;
  }

  .brands__pic--first {
    background-image: url(/images/brands/fast-company.png);
    width: 229px;
    height: 34px;
  }

  // .brands__first-pic:hover {
  //   filter: blur(5px);
  //   transition: .5s all ease;
  // }

  .brands__pic--second {
    background-image: url(/images/brands/southern-company.png);
    width: 217px;
    height: 76px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1200px) {
    .brands__pic--second {
      margin-right: 40px; // ? проверить необходимость и когда убрать
    }
  }

  .brands__pic--third {
    background-image: url(/images/brands/angles.png);
    width: 142px;
    height: 103px;
  }

  .brands__pic--fourth {
    background-image: url(/images/brands/v-ips.png);
    width: 215px;
    height: 70px;
  }

  .brands__right {
    width: 50%;
    color: #fff;
    padding-top: 127px;
    text-align: right;
  }

  @media screen and (max-width: 830px) {
    .brands__right {
      width: auto;
    }
  }

  .brands__title {
    color: #fff;
    font-size: 48px;
    font-family: $secondary-font;
    font-weight: 700;
    margin-bottom: 38px;
    // text-align: right;

    line-height: 60px;
  }

  @media screen and (max-width: 1250px) {
    .brands__title {
      text-align: center;
    }
  }

  .brands__text {
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 300;
    color: #fff;
    margin-bottom: 50px;
    line-height: 28px;

  }

  @media screen and (max-width: 1250px) {
    .brands__text {
      text-align: center;
    }
  }
}

.benefits {
  background-color: #f8f8f8;
  filter: grayscale(100%);

  @include sections-onscroll-display;

  &:hover {
    filter: grayscale(0);
  }

  .benefits__container {
    display: flex;
    position: relative;
  }

  @media screen and (max-width: 1300px) {
    .benefits__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }


  .benefits__left {
    width: 50%;
    padding-top: 127px;
    box-shadow: 100px 20px 10px -30px rgba(248, 248, 248, 1);
    z-index: 100;

    // filter: grayscale(100%);

  }

  @media screen and (max-width: 1300px) {
    .benefits__left {
      width: auto;
    }
  }

  @media screen and (max-width: 992px) {
    .benefits__left {
      padding-top: 89px;
    }
  }

  .benefits__title {
    min-width: 515px;

    color: #1f1f1f;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 48px;

    margin-bottom: 43px;

    line-height: 59px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__title {
      text-align: center;
    }
  }

  .benefits__text {

    max-width: 570px;
    color: #838383;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 16px;

    line-height: 28px;

    margin-bottom: 44px;

  }

  @media screen and (max-width: 1300px) {
    .benefits__text {
      text-align: center;
      max-width: 100%;
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .benefits__left-lower {
    display: flex;
  }

  @media screen and (max-width: 1300px) {
    .benefits__card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .benefits__card-left {
    margin-right: 70px;
  }

  .benefits__card-img {
    width: 52px;
    height: 52px;
    margin-bottom: 17px;
  }

  // @media screen and (max-width: 1300px) {
  //   .benefits__card-img {
  //     display: inline-block;
  //     text-align: center;
  //   }
  // }

  .benefits__card-img--left {
    background-image: url(/images/benefits/database.png);
  }

  .benefits__card-img--right {
    background-image: url(/images/benefits/framework.png);
  }

  .benefits__card-title {
    color: #5e5e5e;
    font-size: 20px;
    font-family: $secondary-font;
    font-weight: 400;
    margin-bottom: 18px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__card-title {
      text-align: center;
    }
  }

  .benefits__card-text {
    max-width: 570px;
    color: #838383;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 16px;

    line-height: 28px;
    margin-bottom: 135px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__card-text {
      text-align: center;
    }
  }

  @media screen and (max-width: 992px) {
    .benefits__card-text {
      margin-bottom: 95px;
    }
  }

  .benefits__right {
    width: 100%;
    height: 100%;

    background-image: url(/images/benefits/bench.png);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: -710px;
    top: 0;

    // background-position: 50px 0;
    // opacity: 0.9;

    // filter: grayscale(100%);
    // transition: .5s filter ease;
  }

  // .benefits__right:hover {
  //   filter: grayscale(0);
  //   transition: .5s filter ease;
  // }


  @media screen and (max-width: 1300px) {
    .benefits__right {
      display: none;
    }
  }

  // .benefits__right--active {
  //   filter: grayscale(0);
  //   transition: .5s filter ease;
  // }



}

.contact {

  @include sections-onscroll-display;

  .contact__container {
    padding-bottom: 140px;
  }

  @media screen and (max-width: 1400px) {
    .contact__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .contact__form-upper {
    display: flex;
    margin-bottom: 40px;
  }

  .contact__form-upper-left {
    width: 50%;
    text-align: right;

    padding-right: 98px;
    padding-top: 129px;

  }

  @media screen and (max-width: 1400px) {
    .contact__form-upper-left {
      padding-right: 50px;

      // display: flex;
      // flex-direction: column;
      // align-items: center;
    }
  }

  .contact__title {
    font-family: $secondary-font;
    font-weight: 700;
    color: #000;
    font-size: 60px;

    margin-bottom: 40px;

    line-height: 70px;


  }

  .contact__text {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #838383;

    max-width: 490px;

    text-align: right;
    display: inline-block;

  }

  .contact__text:first-of-type {
    margin-bottom: 30px;
  }

  .contact__form-upper-right {
    width: 50%;
    padding-top: 152px;
    padding-left: 10px;
  }

  .contact__form-input {
    border: 1px solid #000;
    padding-left: 20px;
    font-family: $primary-font;
    font-weight: 300;
    font-size: 14px;
  }

  .contact__form-input:not(:last-child) {
    height: 51px;
  }

  .contact__form-input::placeholder {
    color: #000;
  }

  .contact__form-input:focus::placeholder {
    color: transparent;
  }


  .contact__form-input--name {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact__inputs-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .contact__form-input--company,
  .contact__form-input--email {
    width: 50%;
  }

  .contact__form-input--company {
    margin-right: 20px;
  }

  // @media screen and (max-width: 1400px) {
  //   .contact__form-input--company {
  //     margin-right: 10px;
  //     // width: 0;
  //     max-width: 310px;
  //   }
  // }

  .contact__form-input--service {
    width: 100%;
    margin-bottom: 20px;
    background-image: url(/images/order/drop-down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
  }

  .contact__form-input--service-option {
    height: 50px;
  }

  .contact__form-input--textarea {
    width: 100%;
    min-height: 270px;
    max-height: 400px;
    padding: 15px 20px;
    resize: vertical;


    // font-family: $primary-font;
  }

  .contact__form-input--submit {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    font-family: $primary-font;
    font-size: 16px;
    color: #fff;
    min-height: 48px;
    width: 100%;

    // border: none;
    opacity: 1;

    border: 2px solid $secondary-color;
  }

  // .contact__form-input--submit:active {
  //   background-color: darken($secondary-color, 15%);
  // }

  .contact__form-input--submit:hover {
    color: $secondary-color;
    background-color: #fff;
    border: 2px solid $secondary-color;
  }

  .contact__form-input--submit:active {
    background-color: $secondary-color;
    color: #fff;
  }

}

.footer {
  background-color: #202b30;
  color: #fff;
  font-family: $primary-font;

  @include sections-onscroll-display;

  .footer__container {
    display: flex;

  }

  @media screen and (max-width: 1400px) {
    .footer__container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .footer__left {
    width: 50%;
    padding-top: 100px;
  }

  .footer__logo {
    margin-bottom: 100px;
    display: block;
  }

  .footer__contact {
    font-weight: 500;
    margin-bottom: 24px;
  }

  .footer__address {
    max-width: 340px;
    line-height: 28px;
    margin-bottom: 92px;
    cursor: pointer;

    position: relative;
  }

  // .footer__location {

  // transition: 2s all ease;
  // }

  // .footer__location:hover::after {

  .footer__adress-tooltip {
    font-family: $primary-font;
    font-size: 17px;
    font-weight: 400;
    color: #000;

    border: 2px solid $secondary-color;

    content: 'Click to See the Map';
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    position: absolute;
    top: -60px;
    left: 180px;

    visibility: hidden;
    opacity: 0;
    transition: .3s all ease;
  }

  // .footer__adress-tooltip:hover {
  //   background-color: #fff;
  //   color: $secondary-color;
  // }

  .footer__adress-tooltip--active {
    visibility: visible;
    opacity: 1;

  }

  .footer__adress-tooltip-triangle {
    border: 8px solid transparent;
    border-top: 8px solid $secondary-color;
    position: absolute;
    bottom: -18px;
    left: -2px;
  }

  .footer__address,
  .footer__email-link,
  .footer__tel-link {
    color: inherit;
    font-weight: 300;
  }

  .footer__location:hover,
  .footer__email-link:hover,
  .footer__tel-link:hover {
    color: darken(#fff, 20%);
  }

  .footer__socials {
    display: flex;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 24px;
  }

  .footer__socials-item-link {
    width: 16px;
    height: 16px;
    display: block;
  }

  .footer__socials-item-link:hover {
    opacity: .8;
  }

  .footer__socials-item-link--inst {
    background-image: url(/images/footer/inst.png);
  }

  .footer__socials-item-link--fb {
    background-image: url(/images/footer/fb.png);
  }

  .footer__socials-item-link--tw {
    background-image: url(/images/footer/tw.png);
  }

  .footer__socials-item-link--ln {
    background-image: url(/images/footer/ln.png);
  }

  .footer__right {
    width: 50%;
    padding-top: 110px;
    padding-left: 10px;
  }

  .footer__nav {
    padding-left: 7px;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 1300px) {
    .footer__nav {
      display: none;
    }
  }

  .footer__text {
    text-align: right;
    margin-bottom: 30px;
    font-weight: 500;
  }


  .footer__form {
    display: flex;
    margin-bottom: 100px;
  }

  .footer__form-input--email {
    min-height: 45px;
    width: 100%;
    font-family: $primary-font;
    font-weight: 300;
    padding-left: 16px;
  }

  .footer__form-input--email::placeholder {
    color: #848484;
  }

  .footer__form-input--email:focus::placeholder {
    color: transparent;
  }

  .form__input--submit {
    width: 165px;
    min-height: 45px;
    background-color: $secondary-color;
    color: #fff;
    border: none;
  }

  .form__input--submit:hover {
    background-color: lighten($secondary-color, 6%)
  }

  .form__input--submit:active {
    background-color: darken($secondary-color, 5%)
  }

  .footer__copyright {
    color: #586165;
    text-align: right;
    font-size: 14px;

    margin-bottom: 66px;
  }
}