@import 'ancillary/_fonts';
@import 'ancillary/_vars';
@import 'ancillary/_mixins';

@import 'UI.blocks/_nav';
@import 'UI.blocks/_button';
@import 'UI.blocks/_scroll-to-top-button';
@import 'UI.blocks/_tooltip';
@import 'UI.blocks/_modal-window';


// @media screen and (max-width: 768px){
//   html {
//     font-size: 12px;
//   }
// }

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $default-font;
  overflow-x: hidden;
  width: 100vw;

  // background-color: red !important;
}

.body--active {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button:hover,
input[type="submit"]:hover {
  transition: .2s all ease;
}

::selection {
  background-color: lighten($secondary-color, 20%);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}


.header {

  background: url(../images/header/office.jpg) no-repeat;
  // background-size: auto auto;

  background-size: cover;
  background-position-x: 50%;

  // padding-bottom: 245px; // по avocode ?
  // padding-bottom: 190px;


  @media screen and (max-width: 768px) {

    // 959
    & {
      background-size: cover;
    }
  }

  .header__color-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 242px; // выставлено по картинке на экране 180

  }

  @media screen and (max-width: 980px) {
    .header__color-wrapper {
      padding-bottom: 150px; // 142 , 162
    }
  }

  @media screen and (max-width: 768px) {
    .header__color-wrapper {
      padding: 0;
    }
  }



  .header__upper {
    @include flex(space-between, baseline);
    padding-top: 50px; // 60
  }

  @media screen and (max-width: 1400px) {
    .header__upper {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 450px) {
    .header__upper {
      @include pl-pr(20px);
    }
  }

  .header__logo {
    width: 126px;
    height: 32px;
    display: block;
    padding-top: 10px;
  }


  // @media screen and (max-width: 768px) {
  //   .header__nav-mobile-btn {
  //     display: block;
  //     width: 35px;
  //     height: 25px;
  //     display: flex;
  //     align-items: center;
  //     position: relative;

  //   }

  //   .header__nav-mobile-btn::before,
  //   .header__nav-mobile-btn::after,
  //   .header__nav-mobile-span {
  //     width: 100%;
  //     height: 4px;
  //     background-color: #fff;
  //   }

  //   .header__nav-mobile-btn::before,
  //   .header__nav-mobile-btn::after {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //   }

  //   .header__nav-mobile-btn::before {
  //     bottom: 0;
  //   }

  //   .header__nav-mobile-btn::after {
  //     top: 0;
  //   }

  // }

  .header__center {
    padding-top: 110px; // 126
  }

  @media screen and (max-width: 1400px) {
    .header__center {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 768px) {
    .header__center {
      padding-top: 70px;
      padding-bottom: 90px;
    }
  }

  @media screen and (max-width: 550px) {
    .header__center {
      padding-bottom: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .header__center {
      @include pl-pr(20px);
    }
  }






  .header__title {
    @include font($secondary-font, 700, 3.75rem, $light-font-color);
    max-width: 950px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px; // 66

    line-height: normal;
    letter-spacing: .3px;
  }

  @media screen and (max-width: 768px) {
    .header__title {
      font-size: 2.5rem;
    }
  }


  .header__text {
    @include font($primary-font, 300, 1rem, $light-font-color);

    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;

    line-height: 28px;
  }

  @media screen and (max-width: 768px) {
    .header__text {
      // display: none;
      font-size: .9rem;
      max-width: 300px;
    }
  }

  @media screen and (max-width: 768px) {
    .header__text-span {
      display: none;
    }
  }

  .header__btn-container {
    text-align: center;
    // margin-bottom: 245px;
  }

  // @media screen and (max-width: 768px) {
  //   .header__btn-container {
  //     // ?
  //   }
  // }

  .header__btn {
    border-color: $secondary-color;
    display: inline-block;
  }


  .header__btn:hover {
    background-color: $secondary-color;
  }

  .header__start-btn {
    margin-right: 30px;
  }

  @media screen and (max-width: 550px) {
    .header__start-btn {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .header__services-btn {
      display: none;
    }
  }
}

.solutions {
  display: flex;
  justify-content: center;
  margin-top: -85px;

  flex-wrap: wrap;

  // @include sections-display-onscroll;

  // padding-bottom: 140px;

  @media screen and (max-width: 1450px) {
    & {
      @include pl-pr(40px);
      justify-content: space-evenly;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      @include pl-pr(20px);
    }
  }


  .solutions__card {
    max-width: 420px;
    min-height: 420px;
    padding: 77px 58px 66px 58px; // 73 bottom
    background-color: $primary-color;
    cursor: pointer;

    position: relative;

    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, .2);
  }

  @media screen and (max-width: 768px) {
    .solutions__card {
      padding: 30px;
      max-width: 380px;
      min-height: 380px;
    }
  }


  .solutions__card:hover {
    background-color: $secondary-color;
    transition: .2s all ease;
    transform: scale(1.03);
    // transition: .3s transform ease;
  }

  .solutions__card:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (max-width: 1450px) {
    .solutions__card {
      // margin-bottom: 20px;

      margin: 10px 10px 10px 10px;
    }

    .solutions__card:not(:last-child) {
      margin-right: 10px;
    }
  }

  .solutions__card-click-hint {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: .9rem;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px 7px 10px;
    color: #fff;
    animation: animate-click-hint ease infinite alternate;
    animation-duration: 1.5s;
    opacity: 1;
  }

  @keyframes animate-click-hint {
    0% {
      opacity: .2;
    }

    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 450px) {
    .solutions__card-click-hint {
      font-size: .6rem;
      padding: 5px;
    }
  }

  .solutions__card-img {
    width: 61px;
    height: 61px;
    margin-bottom: 53px;
  }

  .solutions__card-title {
    margin-bottom: 59px; // 63
    @include font($primary-font, 500, 1.25rem, $light-font-color);
    position: relative;

  }

  // @media screen and (max-width: 768px) {
  //   .solutions__card-title {
  //     font-size: 1.1rem;
  //   }
  // }

  .solutions__card-title:after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50px;
  }

  .solutions__card-text {

    @include font($primary-font, 300, 1rem, $light-font-color);
    line-height: 28px;
  }

  @media screen and (max-width: 550px) {
    .solutions__card-text {
      font-size: .9rem;
    }
  }

}

.card-modal {
  display: none;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  z-index: 10;

  .card-modal__close-btn {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50px;
    right: 50px;

    cursor: pointer;

    // background-color: #fff;
  }

  .card-modal__close-btn::before,
  .card-modal__close-btn::after {
    position: absolute;
    top: 18px;
    left: -5px;
    content: '';
    width: 50px;
    height: 5px;
    border-radius: 15%;
    background-color: #b5b8b1;

  }

  .card-modal__close-btn::before {
    transform: rotate(45deg);
  }

  .card-modal__close-btn::after {
    transform: rotate(135deg);
  }

  .card-modal__close-btn:hover::before {
    background-color: lighten(#b5b8b1, 10%)
  }

  .card-modal__close-btn:hover::after {
    background-color: lighten(#b5b8b1, 10%)
  }

  .card-modal__video {
    width: 1000px;
    height: 565px;
    // background-color: #fff;

    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 282.5px);
  }
}

.services {
  padding-top: 140px;
  padding-bottom: 137px;

  @include sections-display-onscroll;

  @media screen and (max-width: 992px) {
    & {
      padding-top: 98px;
      padding-bottom: 96px;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }


  .services__title {
    @include font($primary-font, 700, 1rem, $secondary-color);
    text-align: center;
    margin-bottom: 19px;
  }

  @media screen and (max-width: 550px) {
    .services__title {
      font-size: .8rem;
    }
  }

  .services__explain-title {

    @include font($secondary-font, 700, 3.75rem, $primary-font-color);
    text-align: center;
    margin-bottom: 45px;
  }

  @media screen and (max-width: 992px) {
    .services__explain-title {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 550px) {
    .services__explain-title {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  @media screen and (max-width: 450px) {
    .services__explain-title {
      @include pl-pr(20px);
    }
  }



  .services__explain-title-decor {
    color: $secondary-color;
  }

  .services__text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    line-height: 28px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 123px;
  }

  @media screen and (max-width: 992px) {
    .services__text {
      @include pl-pr(40px);
      margin-bottom: 86px;
    }
  }

  @media screen and (max-width: 550px) {
    .services__text {
      margin-bottom: 40px;
      font-size: .9rem;
    }
  }

  .services__feature-container {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1400px) {
    .services__feature-container {
      @include pl-pr(60px);
      justify-content: space-evenly;
    }
  }

  .services__feature {
    width: 300px;
    min-height: 225px;
    @include flex(initial, center, initial, column);
  }

  @media screen and (max-width: 550px) {
    .services__feature {
      margin-bottom: 10px;
    }
  }



  .services__feature:not(:nth-child(3n)) {
    margin-right: 195px;
  }

  @media screen and (max-width: 1400px) {
    .services__feature:not(:nth-child(3n)) {
      margin-right: 0;
    }
  }

  .services__feature:first-child,
  .services__feature:nth-child(2),
  .services__feature:nth-child(3) {
    // ?
    margin-bottom: 62px;
  }

  @media screen and (max-width: 550px) {

    .services__feature:first-child,
    .services__feature:nth-child(2),
    .services__feature:nth-child(3) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 719px) {

    .services__feature:nth-child(4),
    .services__feature:nth-child(5) {
      margin-bottom: 62px;
    }
  }

  @media screen and (max-width: 550px) {

    .services__feature:nth-child(4),
    .services__feature:nth-child(5) {
      margin-bottom: 10px;
    }
  }




  .services__feature-img {
    object-fit: contain;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 550px) {
    .services__feature-img {
      margin-bottom: 12px;
    }
  }

  .services__feature-title {
    @include font($secondary-font, 700, 2rem, $primary-font-color);
    margin-bottom: 26px;
  }

  @media screen and (max-width: 550px) {
    .services__feature-title {
      font-size: 1.5rem;
      margin-bottom: 13px;
    }
  }



  .services__feature-text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    line-height: 28px;
    text-align: center;
  }

  // .services__feature-container {
  // opacity: .5;
  // }

  @media screen and (max-width: 550px) {
    .services__feature-text {
      font-size: .9rem;
    }
  }

}


.promo {
  background-color: $primary-color;

  @include sections-display-onscroll;

  .promo__container {
    // width: 1800px;
    display: flex;
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media screen and (max-width: 1400px) {
    .promo__container {
      @include pl-pr(40px);
      flex-direction: column;
      align-items: center;

    }
  }

  @media screen and (max-width: 992px) {
    .promo__container {
      padding-top: 80px;
      //  padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 550px) {
    .promo__container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 450px) {
    .promo__container {
      @include pl-pr(20px);
    }
  }

  .promo__left-side {
    width: 50%;
    padding-top: 10px;
  }

  @media screen and (max-width: 1400px) {
    .promo__left-side {
      width: 100%;
    }
  }

  .promo__title {
    @include font($secondary-font, 700, 3rem, $light-font-color);
    margin-bottom: 46px;
    line-height: 55px;
  }

  @media screen and (max-width: 1400px) {
    .promo__title {
      text-align: center;
    }
  }

  @media screen and (max-width: 550px) {
    .promo__title {
      font-size: 2.5rem;
      line-height: 2.8rem;

      margin-bottom: 20px;
    }
  }



  .promo__text {
    @include font($primary-font, 300, 1rem, $light-font-color);
    line-height: 28px;
    margin-bottom: 50px;
    max-width: 557px;
  }

  @media screen and (max-width: 1400px) {
    .promo__text {
      text-align: center;
      max-width: 100%;
      @include pl-pr(100px);
    }
  }

  @media screen and (max-width: 750px) {
    .promo__text {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 550px) {
    .promo__text {
      font-size: .9rem;
      margin-bottom: 30px;
    }
  }


  .promo__btn {
    @include font($primary-font, 400, 1rem, $light-font-color);
    border-color: #fff;
  }

  @media screen and (max-width: 1400px) {
    .promo__btn {
      margin: 0 auto;
      margin-bottom: 60px;
    }
  }

  @media screen and (max-width: 550px) {
    .promo__btn {
      margin-bottom: 30px;
    }
  }

  .promo__btn:hover {
    color: $primary-color;
    background-color: #fff;
  }

  .promo__right-side {
    width: 50%;
    padding-left: 100px;
  }

  @media screen and (max-width: 1400px) {
    .promo__right-side {
      width: 550px;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 550px) {

    // ========
    .promo__right-side {
      width: 256px;
      padding-left: 0;
    }
  }

  // @media screen and (max-width: 1350px) {
  //   .promo__right-side {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }


  // @media screen and (max-width: 1350px) {
  //   .promo__carousel-container {
  //     width: 256px; // повторы 
  //     // height: 370px; // повторы 
  //   }

  // }

  .slick-list {
    position: relative;
    margin-bottom: 30px;
  }

  .promo__carousel-slide {
    width: 256px; // повторы 
    height: 370px; // повторы 

    margin-right: 35px;
  }

  .promo__img {
    width: 256px; // повторы 
    height: 370px; // повторы 

    object-fit: cover;
  }

  .promo__img:hover {
    background-image: $secondary-color;
    // opacity: 1;
  }

  .promo__first-img {
    margin-right: 35px;
  }

  .slick-dots {

    @extend %centering-flex-container;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // margin-top: 30px;
    // display: none !important;
  }

  .slick-dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }

  .slick-dots li button {
    // list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slick-active {
    background-color: #fff;
    z-index: 100;
  }

}

.features {
  background-color: #f8f8f8;

  @include sections-display-onscroll;

  .features__container {

    padding-top: 138px;
    padding-bottom: 143px;
    display: flex;
  }

  @media screen and (max-width: 1400px) {
    .features__container {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 992px) {
    .features__container {
      padding-top: 97px;
      padding-bottom: 100px;
    }
  }

  @media screen and (max-width: 800px) {
    .features__container {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
    }
  }

  @media screen and (max-width: 550px) {
    .features__container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 450px) {
    .features__container {
      @include pl-pr(20px);
    }
  }

  .features__left,
  .features__right {
    max-width: 50%;
  }

  @media screen and (max-width: 800px) {

    .features__left,
    .features__right {
      max-width: 100%;
      text-align: center;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .features__left {
      order: 1;
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 800px) {
    .features__right {
      order: 0;
      padding-bottom: 30px;
    }
  }

  .features__list {
    @include flex(initial, initial, wrap, row);
  }

  @media screen and (max-width: 1350px) {
    .features__list {
      display: flex;
      justify-content: center;
    }
  }

  .features__list-item {
    max-width: 270px;
    min-height: 115px;
  }

  .features__list-item:nth-child(odd) {
    margin-right: 59px;
  }

  @media screen and (max-width: 1350px) {
    .features__list-item:nth-child(odd) {
      margin-right: 0;
    }
  }

  .features__list-item:first-child,
  .features__list-item:nth-child(2) {
    margin-bottom: 69px;
  }

  @media screen and (max-width: 1350px) {
    .features__list-item:nth-child(3) {
      margin-bottom: 69px;
    }
  }

  @media screen and (max-width: 550px) {

    .features__list-item:first-child,
    .features__list-item:nth-child(2),
    .features__list-item:nth-child(3) {
      margin-bottom: 30px;
    }
  }

  .features__list-title {
    @include font($secondary-font, 600, 1.25rem, $primary-font-color);
    margin-bottom: 18px;
  }

  @media screen and (max-width: 550px) {
    .features__list-title {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }
  }

  .features__list-text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    line-height: 28px;
  }

  @media screen and (max-width: 550px) {
    .features__list-text {
      font-size: .9rem;
    }
  }

  .features__right {
    padding-left: 10px;
  }

  @media screen and (max-width: 550px) {
    .features__right {
      padding-left: 0;
    }
  }

  .features__title {
    @include font($secondary-font, 700, 3rem, $primary-font-color);
    line-height: 50px;
    margin-bottom: 47px;
  }

  @media screen and (max-width: 550px) {
    .features__title {
      font-size: 2.5em;
      line-height: 3rem;
      margin-bottom: 25px;
    }
  }

  .features__text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    line-height: 28px;
  }

  @media screen and (max-width: 550px) {
    .features__text {
      font-size: .9rem;
    }
  }

  .features__upper-text {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 550px) {
    .features__upper-text {
      margin-bottom: 20px;
    }
  }

}

.portfolio {
  padding-top: 138px;
  @include sections-display-onscroll;

  @media screen and (max-width: 992px) {
    & {
      padding-top: 97px;
    }
  }

  @media screen and (max-width: 992px) {
    & {
      @include pl-pr(10px);
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }

  .portfolio__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 550px) {
    .portfolio__nav {
      margin-bottom: 40px;
    }
  }

  .portfolio__menu {
    display: flex;
  }

  .portfolio__menu-item {
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: #a4a4a4;
  }

  @media screen and (max-width: 550px) {
    .portfolio__menu-item {
      font-size: .9rem;
    }
  }

  .portfolio__menu-item:hover {
    border-bottom: 1px solid #1f1f1f;
    transition: .5s border-bottom ease;
  }

  .portfolio__menu-item:not(:last-child) {
    margin-right: 65px;
  }

  @media screen and (max-width: 1500px) {
    .portfolio__menu-item:not(:last-child) {
      margin-right: 45px;
    }
  }

  @media screen and (max-width: 550px) {
    .portfolio__menu-item:not(:last-child) {
      margin-right: 25px;
    }
  }

  @media screen and (max-width: 450px) {
    .portfolio__menu-item:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (max-width: 1500px) {
    .portfolio__projects-container {
      @include pl-pr(40px);
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .portfolio__projects-list {
    @include flex(center, initial, wrap);
  }

  @media screen and (max-width: 1350px) {
    .portfolio__projects-list {
      justify-content: space-evenly;
    }
  }

  .portfolio__projects-list-item {
    margin-bottom: 8px;
    perspective: 1500px;
  }


  @media screen and (max-width: 1500px) {
    .portfolio__projects-list-item {
      margin-right: 8px; // 8
    }
  }

  // @media screen and (max-width: 795px) {
  //   .portfolio__projects-list-item {
  //     margin-right: 8px; // 8
  //   }
  // }

  @media screen and (max-width: 795px) {
    .portfolio__projects-list-item {
      margin-bottom: 20px;
    }
  }

  .portfolio__projects-list-item:not(:nth-child(4n)) {
    margin-right: 8px; // 8
  }

  // @media screen and (max-width: 795px) {
  //   .portfolio__projects-list-item:not(:nth-child(4n)) {
  //     margin-right: 0;
  //   }
  // }

  .portfolio__projects-list-item--active {
    margin-right: 8px;
  }

  // @media screen and (max-width: 550px) {
  //   .portfolio__projects-list-item--active {
  //     margin-right: 0;
  //   }
  // }

  .portfolio__projects-list-item:hover .portfolio__projects-list-item-inner {
    transform: rotateY(180deg);
  }

  .portfolio__projects-list-item-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s all ease;
  }

  .portfolio__project-list-item-img,
  .portfolio__projects-list-info {
    // width: 443px;
    // height: 335px;
    // width: 100%;
    // height: 100%;
    background: #fff;
    backface-visibility: hidden;

    overflow: hidden;
  }

  @media screen and (min-width: 1920px) {

    .portfolio__project-list-item-img,
    .portfolio__projects-list-info {
      width: 443px;
      // width: 385px;
      height: 335px;
    }
  }

  @media screen and (max-width: 1919px) {

    .portfolio__project-list-item-img,
    .portfolio__projects-list-info {
      width: 350px;
      height: 250px;
    }
  }

  @media screen and (max-width: 390px) {

    .portfolio__project-list-item-img,
    .portfolio__projects-list-info {
      width: 320px;
      height: 200px;
    }
  }

  .portfolio__projects-list-info {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid $primary-color;
    padding: 40px;
  }

  @media screen and (max-width: 390px) {
    .portfolio__projects-list-info {
      padding: 20px;
    }
  }

  .portfolio__projects-list-item-title {
    // font-size: 2rem;
    margin-bottom: 40px;
    @include font($secondary-font, 400, 2rem, #000);
  }

  @media screen and (max-width: 1919px) {
    .portfolio__projects-list-item-title {
      font-size: 1.5rem;
      margin-bottom: 10px; // ?
    }
  }

  .portfolio__projects-list-item-text {
    @include font($primary-font, 400, 1rem, #000);
    // font-size: 1rem;
    // margin-bottom: 50px;
    line-height: 1.4rem;

    height: 110px;
    overflow: hidden;
  }

  @media screen and (max-width: 1919px) {
    .portfolio__projects-list-item-text {
      font-size: .8rem;
    }
  }

  .portfolio__projects-list-item-click {
    color: $secondary-color;
    position: absolute;
    left: 40px;
    bottom: 40px;
    @include font($primary-font, 400, 1rem, $secondary-color);
  }

  @media screen and (max-width: 390px) {
    .portfolio__projects-list-item-click {
      left: 20px;
      bottom: 30px;
    }
  }

  portfolio__projects-list-item-link {
    width: 350px;
    height: 250px;
    min-width: 100%;
    min-height: 100%;
  }

  @media screen and (max-width: 1919px) {
    portfolio__projects-list-item-link {
      width: 350px;
      height: 250px;

      min-width: 100%;
      min-height: 100%;
    }
  }

  @media screen and (max-width: 390px) {
    portfolio__projects-list-item-link {
      width: 320px;
      height: 200px;

      min-width: 100%;
      min-height: 100%;
    }
  }


  // .portfolio__projects-list-item:not(:nth-child(4n)) {
  //   margin-right: 8px; // 8
  // }

  // @media screen and (max-width: 1500px) {
  //   .portfolio__projects-list-item {
  //     margin-right: 8px; // 8
  //   }
  // }

  // @media screen and (max-width: 795px) {
  //   .portfolio__projects-list-item {
  //     margin-right: 8px; // 8
  //   }
  // }

  // @media screen and (max-width: 1350px) {
  //   .portfolio__projects-list-item {

  //   }
  // }

  // .portfolio__projects-list-item--active {
  //   margin-right: 8px;
  // }

  // .portfolio__project-list-img {
  //   width: 443px;
  //   // width: 385px;
  //   height: 335px;
  // }

  @media screen and (min-width: 1920px) {
    .portfolio__project-list-img {
      width: 443px;
      // width: 385px;
      height: 335px;
    }
  }

  @media screen and (max-width: 1919px) {
    .portfolio__project-list-img {
      width: 350px;
      height: 250px;
    }
  }

  @media screen and (max-width: 390px) {
    .portfolio__project-list-img {
      width: 320px;
      height: 200px;

    }
  }

  // @media screen and (max-width: 992px) {
  //   .portfolio__project-list-img {
  //     width: 300px;
  //     height: 200px;
  //   }
  // }

}


.clients {
  @include sections-display-onscroll;

  .clients__container {
    display: flex;
    padding-top: 126px;
    padding-bottom: 123px;
  }

  @media screen and (max-width: 1400px) {
    .clients__container {
      @include pl-pr(40px);

      // display: flex;
      // flex-direction: column;
    }
  }

  @media screen and (max-width: 1150px) {
    .clients__container {
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: 992px) {
    .clients__container {
      padding-top: 88px;
      padding-bottom: 85px;
    }
  }

  @media screen and (max-width: 550px) {
    .clients__container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 450px) {
    .clients__container {
      @include pl-pr(20px);
    }
  }

  .clients__left {
    width: 50%;
  }

  @media screen and (max-width: 1400px) {
    .clients__left {
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 1150px) {
    .clients__left {
      width: auto;

      @include flex(initial, center, initial, column);

    }
  }

  .clients__title {
    @include font($secondary-font, 700, 3rem, $primary-font-color);
    margin-bottom: 46px;
    line-height: 52px;
  }

  @media screen and (max-width: 1150px) {
    .clients__title {
      text-align: center;
    }
  }

  @media screen and (max-width: 550px) {
    .clients__title {
      font-size: 2.5rem;
      margin-bottom: 25px;
      line-height: 3rem;
    }
  }



  .clients__text {
    @include font($primary-font, 300, 1rem, $primary-font-color);
    max-width: 560px;
    margin-bottom: 54px;
    line-height: 28px;

  }

  @media screen and (max-width: 1150px) {
    .clients__text {
      text-align: center;
    }
  }

  @media screen and (max-width: 550px) {
    .clients__text {
      font-size: .9rem;
      margin-bottom: 25px;
    }
  }

  .clients__btn {

    @include font($primary-font, inherit, 1rem);

    width: 190px;
    min-height: 51px;

    // font-family: $primary-font;
    // font-size: 16px;

    border: 2px solid #1f1f1f;
    background-color: transparent;
  }

  .clients__btn:hover {
    background-color: #1f1f1f;
    color: $light-font-color;
  }

  .clients__right {
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
  }

  @media screen and (max-width: 1150px) {
    .clients__right {
      width: auto;
      padding-top: 50px;
      padding-left: 0;
      display: flex;
      justify-content: center;
    }
  }

  .clients__right-container {
    position: relative;
  }

  .clients__video {
    width: 660px;
    height: 330px;
    object-fit: cover;

    // margin-top: -20px;

    // width: 650x;
    // height: 340px;

  }

  .clients__video:hover {
    cursor: pointer;
  }

  .clients__video-btn {
    width: 90px;
    height: 90px;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 45px);
    border-radius: 50%;

    // outline: 1px solid #fff;

    border: 1px solid #fff;

    @extend %centering-flex-container;

    opacity: .7;
  }

  .clients__video-btn:hover {
    cursor: pointer; // курсор не наводится на границу блока
  }

  .clients__video-btn-play {
    background: url(../images/clients/play-btn.png) no-repeat;
    // background-repeat: no-repeat;
    width: 12px;
    height: 16px;
  }

  .clients__video-btn-play--active {
    opacity: 1;
  }

  .clients__video-btn-play--hidden {
    display: none;
  }
}




.brands {
  background-color: #202b30;
  @include sections-display-onscroll;

  .brands__container {
    display: flex;
    padding-bottom: 85px;
  }

  @media screen and (max-width: 1400px) {
    .brands__container {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 830px) {
    .brands__container {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 550px) {
    .brands__container {
      padding-bottom: 50px;
    }
  }

  @media screen and (max-width: 450px) {
    .brands__container {
      @include pl-pr(20px);
    }
  }

  .brands__left {
    width: 50%;
    @include flex(space-between, center, wrap);
    padding-top: 80px;
    padding-right: 120px;

  }

  @media screen and (max-width: 1400px) {
    .brands__left {
      padding-right: 60px;
      // width: auto;
    }
  }

  @media screen and (max-width: 830px) {
    .brands__left {
      @include flex(space-around, center, wrap);
      width: auto;
      order: 1;
      padding-top: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .brands__left {
      flex-direction: column;
      align-items: center;
    }
  }


  // @media screen and (max-width: 550px) { 
  //   .brands__pic {
  //     margin-bottom: 50px;
  //   }
  // }

  .brands__pic {
    transition: .5s all ease;
  }

  .brands__pic:first-child,
  .brands__pic:nth-child(3) {
    margin-right: 80px;
  }

  .brands__pic:nth-child(3) {
    margin-bottom: 32px;
  }

  .brands__pic:last-child {
    margin-bottom: 5px;
  }

  // .brands__pic:first-child,
  // .brands__pic:nth-child(2) {
  //   margin-bottom: 30px; // 75
  // }

  @media screen and (max-width: 830px) {

    .brands__pic:first-child,
    .brands__pic:nth-child(3),
    .brands__pic:nth-child(3),
    .brands__pic:last-child {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }




  .brands__pic--active {
    transform: scale(1.2);
    transition: .5s all ease;
  }

  .brands__pic:first-child {
    background-image: url(/images/brands/fast-company.png);
    width: 229px;
    height: 34px;
  }

  // .brands__first-pic:hover {
  //   filter: blur(5px);
  //   transition: .5s all ease;
  // }

  .brands__pic:nth-child(2) {
    background-image: url(/images/brands/southern-company.png);
    width: 217px;
    height: 76px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1200px) {
    .brands__pic:nth-child(2) {
      margin-right: 40px; // ? проверить необходимость и когда убрать
    }
  }

  @media screen and (max-width: 830px) {
    .brands__pic:nth-child(2) {
      margin-right: 0;
    }
  }

  .brands__pic:nth-child(3) {
    background-image: url(/images/brands/angles.png);
    width: 142px;
    height: 103px;
  }

  .brands__pic:last-child {
    background-image: url(/images/brands/v-ips.png);
    width: 215px;
    height: 70px;
  }

  .brands__right {
    width: 50%;
    color: $light-font-color;
    padding-top: 127px;
    text-align: right;
  }

  @media screen and (max-width: 830px) {
    .brands__right {
      width: auto;
      order: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .brands__right {
      padding-top: 50px;
    }
  }

  .brands__title {

    @include font($secondary-font, 700, 3rem, $light-font-color);
    margin-bottom: 38px;
    // text-align: right;
    line-height: 60px;
  }

  @media screen and (max-width: 1250px) {
    .brands__title {
      text-align: center;
      line-height: 3rem;
    }
  }

  @media screen and (max-width: 550px) {
    .brands__title {
      margin-bottom: 20px;
      font-size: 2.5rem;
    }
  }

  .brands__text {
    margin-bottom: 50px;
    @include font($primary-font, 300, 1rem, $light-font-color);
    line-height: 28px;

  }

  @media screen and (max-width: 1250px) {
    .brands__text {
      text-align: center;
    }
  }

  @media screen and (max-width: 550px) {
    .brands__text {
      font-size: .9rem;
    }
  }



}

.benefits {
  background-color: #f8f8f8;
  filter: grayscale(100%);
  @include sections-display-onscroll;

  @media screen and (max-width: 1024px) {
    & {
      filter: none;
    }
  }

  &:hover {
    filter: grayscale(0);
  }



  .benefits__container {
    display: flex;
    position: relative;
  }

  @media screen and (max-width: 1300px) {
    .benefits__container {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 450px) {
    .benefits__container {
      @include pl-pr(20px);
    }
  }

  .benefits__left {
    width: 50%;
    padding-top: 127px;
    box-shadow: 100px 20px 10px -30px rgba(248, 248, 248, 1);
    z-index: 100;

    // filter: grayscale(100%);

  }

  @media screen and (max-width: 1300px) {
    .benefits__left {
      width: auto;
    }
  }

  @media screen and (max-width: 992px) {
    .benefits__left {
      padding-top: 89px;
    }
  }

  @media screen and (max-width: 550px) {
    .benefits__left {
      padding-top: 50px;
    }
  }

  .benefits__title {
    min-width: 515px;
    margin-bottom: 43px;
    @include font($secondary-font, 700, 3rem, $primary-font-color);
    line-height: 59px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__title {
      text-align: center;
      min-width: 0
    }
  }

  @media screen and (max-width: 550px) {
    .benefits__title {
      font-size: 2.5em;
      line-height: 3rem;
      margin-bottom: 25px;
    }
  }

  .benefits__text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    max-width: 570px;
    line-height: 28px;
    margin-bottom: 44px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__text {
      text-align: center;
      max-width: 100%;
      @include pl-pr(80px);
    }
  }

  @media screen and (max-width: 550px) {
    .benefits__text {
      @include pl-pr(40px);
      font-size: .9rem;
      margin-bottom: 45px;
    }
  }

  .benefits__left-lower {
    display: flex;
  }

  @media screen and (max-width: 550px) {
    .benefits__left-lower {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 1300px) {
    .benefits__card {
      @include flex(initial, center, initial, column);
    }
  }

  .benefits__card-left {
    margin-right: 70px;
  }

  @media screen and (max-width: 550px) {
    .benefits__card-left {
      margin-right: 0;
    }
  }

  .benefits__card-img {
    width: 52px;
    height: 52px;
    margin-bottom: 17px;
  }

  // @media screen and (max-width: 1300px) {
  //   .benefits__card-img {
  //     display: inline-block;
  //     text-align: center;
  //   }
  // }

  .benefits__card-img--left {
    background-image: url(/images/benefits/database.webp);
  }

  .benefits__card-img--right {
    background-image: url(/images/benefits/framework.webp);
  }

  .benefits__card-title {
    @include font($secondary-font, 400, 1.25rem, #5e5e5e);
    margin-bottom: 18px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__card-title {
      text-align: center;
    }
  }

  @media screen and (max-width: 550px) {
    .benefits__card-title {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }
  }

  .benefits__card-text {

    @include font($primary-font, 300, 1rem, $secondary-font-color);
    max-width: 570px;
    line-height: 28px;
    margin-bottom: 135px;
  }

  @media screen and (max-width: 1300px) {
    .benefits__card-text {
      text-align: center;
    }
  }

  @media screen and (max-width: 992px) {
    .benefits__card-text {
      margin-bottom: 95px;
    }
  }

  @media screen and (max-width: 550px) {
    .benefits__card-text {
      font-size: .9rem;
      @include pl-pr(60px);
      margin-bottom: 50px;
    }
  }

  .benefits__right {
    width: 100%;
    height: 100%;

    background: url(/images/benefits/bench.webp) no-repeat;
    // background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: -710px;
    top: 0;

    // background-position: 50px 0;
    // opacity: .9;

    // filter: grayscale(100%);
    // transition: .5s filter ease;
  }

  // .benefits__right:hover {
  //   filter: grayscale(0);
  //   transition: .5s filter ease;
  // }


  @media screen and (max-width: 1300px) {
    .benefits__right {
      display: none;
    }
  }

  // .benefits__right--active {
  //   filter: grayscale(0);
  //   transition: .5s filter ease;
  // }



}

.contact {
  @include sections-display-onscroll;

  .contact__container {
    padding-bottom: 140px;
  }

  @media screen and (max-width: 1400px) {
    .contact__container {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 800px) {
    .contact__container {
      padding-bottom: 70px;
    }
  }

  @media screen and (max-width: 450px) {
    .contact__container {
      @include pl-pr(20px);
    }
  }


  .contact__form-upper {
    display: flex;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 800px) {
    .contact__form-upper {
      display: flex;
      flex-direction: column;
    }
  }

  .contact__form-upper-left {
    width: 50%;
    text-align: right;
    padding-right: 98px;
    padding-top: 129px;
  }

  @media screen and (max-width: 1400px) {
    .contact__form-upper-left {
      padding-right: 50px;

      // display: flex;
      // flex-direction: column;
      // align-items: center;
    }
  }

  @media screen and (max-width: 800px) {
    .contact__form-upper-left {
      width: 100%;
      padding-right: 0;
      padding-top: 50px;
    }
  }

  .contact__title {
    @include font($secondary-font, 700, 3.75rem, $dark-font-color);
    margin-bottom: 40px;
    line-height: 70px;
  }

  @media screen and (max-width: 800px) {
    .contact__title {
      text-align: center;
    }
  }


  @media screen and (max-width: 550px) {
    .contact__title {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .contact__text {
    @include font($primary-font, 300, 1rem, $secondary-font-color);
    line-height: 28px;
    max-width: 490px;
    text-align: right;
    display: inline-block;

  }

  @media screen and (max-width: 885px) {
    .contact__text {
      display: none;
    }
  }

  .contact__text:first-of-type {
    margin-bottom: 30px;
  }

  .contact__form-upper-right {
    width: 50%;
    padding-top: 152px;
    padding-left: 10px;

    position: relative;
  }

  @media screen and (max-width: 800px) {
    .contact__form-upper-right {
      width: 100%;
      padding-top: 0;
    }
  }



  .contact__form-input {

    @include font($primary-font, 300, .875rem);

    border: 1px solid #000;
    padding-left: 20px;


  }

  .contact__form-input:not(:last-child) {
    height: 51px;
  }

  .contact__form-input::placeholder {
    color: $dark-font-color;
  }

  .contact__form-input:focus::placeholder {
    color: transparent;
  }


  .contact__form-input--name {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact__form-input--name-tooltip {
    left: 400px;
    top: 93px;
  }

  @media screen and (max-width: 1200px) {
    .contact__form-input--name-tooltip {
      left: 230px;
    }
  }

  // .contact__inputs-container {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-bottom: 20px;
  // }

  .contact__form-input--company,
  .contact__form-input--email {
    width: 48.5%;
  }

  @media screen and (max-width: 1400px) {

    .contact__form-input--company,
    .contact__form-input--email {
      width: 100%;
    }
  }

  .contact__form-input--company {
    margin-right: 14px;
    margin-bottom: 20px;

  }

  @media screen and (max-width: 1400px) {
    .contact__form-input--company {
      margin-right: 0;
    }
  }

  .contact__form-input--company-tooltip {
    left: 150px;
    top: 163px;
  }

  @media screen and (max-width: 1400px) {
    .contact__form-input--company-tooltip {
      left: 400px;
    }
  }

  @media screen and (max-width: 1200px) {
    .contact__form-input--company-tooltip {
      left: 230px;
    }
  }

  .contact__form-input--email {
    margin-bottom: 20px;
  }

  .contact__form-input--email-tooltip {
    top: 163px;
    right: 0;
  }

  @media screen and (max-width: 1400px) {
    .contact__form-input--email-tooltip {
      right: 25px;
      top: 235px;
    }
  }

  @media screen and (max-width: 1200px) {
    .contact__form-input--email-tooltip {
      right: 155px;
    }
  }

  // @media screen and (max-width: 1400px) {
  //   .contact__form-input--company {
  //     margin-right: 10px;
  //     // width: 0;
  //     max-width: 310px;
  //   }
  // }

  .contact__form-input--service {
    width: 100%;
    margin-bottom: 20px;
    background-image: url(/images/order/drop-down-arrow.png) no-repeat;
    // background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
  }

  .contact__form-input--service-option {
    height: 50px;
  }

  .contact__form-input--service-tooltip {
    left: 400px;
    top: 235px;
  }

  @media screen and (max-width: 1400px) {
    .contact__form-input--service-tooltip {
      top: 305px;
    }
  }

  .contact__form-input--textarea {
    width: 100%;
    min-height: 270px;
    max-height: 400px;
    padding: 15px 20px;
    resize: vertical;

    // font-family: $primary-font;
  }

  .contact__form-input--textarea-tooltip {
    left: 400px;
    top: 306px;
  }

  @media screen and (max-width: 1400px) {
    .contact__form-input--textarea-tooltip {
      top: 376px;
    }
  }

  .contact__form-input--submit {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;

    @include font($primary-font, 400, 1rem, $light-font-color);



    min-height: 48px;
    width: 100%;

    // border: none;
    opacity: 1;

    border: 2px solid $secondary-color;
  }

  // .contact__form-input--submit:active {
  //   background-color: darken($secondary-color, 15%);
  // }

  .contact__form-input--submit:hover {
    color: $secondary-color;
    background-color: #fff;
    border: 2px solid $secondary-color;
  }

  .contact__form-input--submit:active {
    background-color: $secondary-color;
    color: $light-font-color;
  }

}

.footer {
  background-color: #202b30;
  color: $light-font-color;
  font-family: $primary-font;

  @include sections-display-onscroll;

  .footer__container {
    display: flex;

  }

  @media screen and (max-width: 1400px) {
    .footer__container {
      @include pl-pr(40px);
    }
  }

  @media screen and (max-width: 650px) {
    .footer__container {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 450px) {
    .footer__container {
      @include pl-pr(20px);
    }
  }

  .footer__left {
    width: 50%;
    padding-top: 100px;
  }

  @media screen and (max-width: 650px) {
    .footer__left {
      width: 100%;
      padding-top: 50px;
    }
  }

  .footer__logo {
    margin-bottom: 100px;
    display: block;
  }

  @media screen and (max-width: 650px) {
    .footer__logo {
      margin-bottom: 50px;
    }
  }

  .footer__contact {
    font-weight: 500;
    margin-bottom: 24px;
  }

  .footer__address {
    max-width: 340px;
    line-height: 28px;
    margin-bottom: 92px;
    cursor: pointer;

    position: relative;
  }

  @media screen and (max-width: 650px) {
    .footer__address {
      margin-bottom: 50px;
    }
  }


  .footer__adress-tooltip {

    @include font($primary-font, 400, 1rem, $dark-font-color);

    border: 2px solid $secondary-color;

    // content: 'Click to See the Map';
    width: 170px;
    height: 50px;

    @extend %centering-flex-container;

    background-color: #fff;

    position: absolute;
    top: -60px;
    left: 180px;

    visibility: hidden;
    opacity: 0;
    transition: .3s all ease;
  }

  // .footer__adress-tooltip:hover {
  //   background-color: #fff;
  //   color: $secondary-color;
  // }

  .footer__adress-tooltip--active {
    visibility: visible;
    opacity: 1;

  }

  .footer__adress-tooltip-triangle {
    border: 8px solid transparent;
    border-top: 8px solid $secondary-color;
    position: absolute;
    bottom: -18px;
    left: -2px;
  }

  .footer__address,
  .footer__email-link,
  .footer__tel-link {
    color: inherit;
    font-weight: 300;
  }

  .footer__location:hover,
  .footer__email-link:hover,
  .footer__tel-link:hover {
    color: darken($light-font-color, 20%);
  }

  .footer__socials {
    display: flex;
    margin-bottom: 66px;
  }

  @media screen and (max-width: 650px) {
    .footer__socials {
      margin-bottom: 50px;
    }
  }


  .footer__socials-item:not(:last-child) {
    margin-right: 24px;
  }

  .footer__socials-item-link {
    width: 16px;
    height: 16px;
    display: block;
  }

  .footer__socials-item-link:hover {
    opacity: .8;
  }

  .footer__socials-item-link--inst {
    background-image: url(/images/footer/inst.webp);
  }

  .footer__socials-item-link--fb {
    background-image: url(/images/footer/fb.webp);
  }

  .footer__socials-item-link--tw {
    background-image: url(/images/footer/tw.webp);
  }

  .footer__socials-item-link--ln {
    background-image: url(/images/footer/ln.webp);
  }

  .footer__right {
    width: 50%;
    padding-top: 110px;
    padding-left: 10px;
  }

  @media screen and (max-width: 650px) {
    .footer__right {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
    }
  }

  .footer__nav {
    padding-left: 7px;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 1300px) {
    .footer__nav {
      display: none;
    }
  }

  .footer__text {
    text-align: right;
    margin-bottom: 30px;
    font-weight: 500;
  }


  .footer__form {
    display: flex;
    margin-bottom: 100px;
    position: relative;
  }

  .tooltip__footer-form-item {
    // visibility: visible;
    // opacity: 1;

    top: -60px;
    left: 250px;
    z-index: 10;
  }

  @media screen and (max-width: 1300px) {
    .tooltip__footer-form-item {
      left: 100px;
    }
  }


  .footer__form-input--email {
    @include font($primary-font, 300, 1rem, $dark-font-color);
    min-height: 45px;
    width: 100%;
    padding-left: 16px;
  }

  .footer__form-input--email::placeholder {
    color: #848484;
  }

  .footer__form-input--email:focus::placeholder {
    color: transparent;
  }

  .form__input--submit {
    width: 165px;
    min-height: 45px;
    background-color: $secondary-color;
    color: $light-font-color;
    border: none;
  }

  .form__input--submit:hover {
    background-color: lighten($secondary-color, 6%)
  }

  .form__input--submit:active {
    background-color: darken($secondary-color, 5%)
  }

  .footer__copyright {
    color: #586165;
    text-align: right;
    font-size: 14px;

    margin-bottom: 66px;
  }

  @media screen and (max-width: 650px) {
    .footer__copyright {
      text-align: center;
    }
  }
}