{
    "env": {
        "browser": true,
        "es2021": true
    },
    "plugins": [
        "jquery",
        "prettier"
    ],
    "extends": [
        "standard",
        "plugin:jquery/slim",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "space-before-function-paren": 0,
        "no-undef": 0, // Excluded incorrect recognition of $.
        "semi": 0,
        "jquery/no-animate": 0,
        "jquery/no-fade": 0,
        "jquery/no-ajax": 0,
        "jquery/no-hide": 0,
        "jquery/no-show": 0,
        "jquery/no-serialize": 0,
        "prettier/prettier": 2
    }
}