.portfolio {
  padding-top: 138px;

  @include sections-display-onscroll;

  @media screen and (max-width: 992px) {
    & {
      padding-top: 97px;
    }
  }

  .portfolio__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .portfolio__menu {
    display: flex;
  }

  .portfolio__menu-item {
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    cursor: pointer;

    color: #a4a4a4;
  }

  .portfolio__menu-item:hover {
    border-bottom: 1px solid #1f1f1f;
    transition: .5s border-bottom ease;
  }



  .portfolio__menu-item:not(:last-child) {
    margin-right: 65px;
  }

  @media screen and (max-width: 1500px) {
    .portfolio__menu-item:not(:last-child) {
      margin-right: 45px;
    }
  }

  // .portfolio__projects-list {
  //   display: flex;
  // }

  @media screen and (max-width: 1500px) {
    .portfolio__projects-container {

      @include pl-pr(40px);


      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .portfolio__projects-list {
    @include flex(center, initial, wrap);

  }

  @media screen and (max-width: 1350px) {
    .portfolio__projects-list {
      justify-content: space-evenly;
    }
  }

  .portfolio__projects-list-item {
    margin-bottom: 8px;
  }

  .portfolio__projects-list-item:not(:nth-child(4n)) {
    margin-right: 8px; // 8
  }

  @media screen and (max-width: 1500px) {
    .portfolio__projects-list-item {
      margin-right: 8px; // 8
    }
  }

  // @media screen and (max-width: 1350px) {
  //   .portfolio__projects-list-item {

  //   }
  // }

  .portfolio__projects-list-item:hover {
    opacity: .7;
  }

  // .portfolio__project-list-img {
  //   width: 443px;
  //   // width: 385px;
  //   height: 335px;
  // }

  @media screen and (min-width: 1920px) {
    .portfolio__project-list-img {
      width: 443px;
      // width: 385px;
      height: 335px;
    }
  }

  @media screen and (max-width: 1919px) {
    .portfolio__project-list-img {
      width: 350px;
      height: 250px;
    }
  }

  @media screen and (max-width: 992px) {
    .portfolio__project-list-img {
      width: 300px;
      height: 200px;
    }
  }

}