// This module applies to all <button> tags on the page excepting <input type="submit">.
// Certain buttons have their own specific styles computed over this module.
// These specific styles are in "index.scss" file.

.button {
  @include font($primary-font, 400, 1rem, $light-font-color);
  @extend %centering-flex-container;

  width: 190px;
  min-height: 55px;
  padding: 5px;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  outline: none;
}
