/*
 Certain tooltips have their own specific styles computed over this module.
 These specific styles are in "index.scss" file.
*/

.tooltip {
  @include font($primary-font, 400, 1rem, $dark-font-color);
  @extend %centering-flex-container;

  position: absolute;
  min-width: 170px;
  height: 50px;
  padding: 5px;
  visibility: hidden;
  background-color: #fff;
  border: 2px solid $secondary-color;
  opacity: 0;
  transition: 0.3s all ease;
}

.tooltip--active {
  visibility: visible;
  opacity: 1;
}

.tooltip__triangle {
  position: absolute;
  bottom: -18px;
  left: -2px;
  border: 8px solid transparent;
  border-top: 8px solid $secondary-color;
}
