// This module applies to all <button> tags on the page excepting <input type="submit"> tags used in the contact form and in the footer.

// Certain <button> tags have their own specific styles computed over this module. These specific styles contains in "index.scss" file.

.button {
  @extend %centering-flex-container;
  width: 190px;
  min-height: 55px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  @include font($primary-font, 400, 1rem, $light-font-color);
  background: transparent;
  padding: 5px;
}