.modal-window {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
}

.modal-window__close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  // background-color: #fff;
}

@media screen and (max-width: 600px) {
  .modal-window__close-btn {
    top: 10px;
    right: 10px;
  }
}

.modal-window__close-btn::before,
.modal-window__close-btn::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -5px;
  width: 50px;
  height: 5px;
  border-radius: 15%;
  background-color: #b5b8b1;
}

.modal-window__close-btn::before {
  transform: rotate(45deg);
}

.modal-window__close-btn::after {
  transform: rotate(135deg);
}

.modal-window__close-btn:hover::before {
  background-color: lighten(#b5b8b1, 10%)
}

.modal-window__close-btn:hover::after {
  background-color: lighten(#b5b8b1, 10%)
}

.modal-window__container {
  // background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
}

// @media screen and (max-width: 600px) {
//   .modal-window__container {
//     left: 50%;
//     top: 50%;
//     // left: 0;
//     // top: 0;
//   }
// }

.modal-window__solutions-container {
  // для трех видео 
  transform: translate(-500px, -282.5px);
}

@media screen and (max-width: 1000px) {
  .modal-window__solutions-container {
    transform: translate(-275px, -150px);
  }
}

// @media screen and (max-width: 600px) {
//   .modal-window__solutions-container {
//     transform: translate(-150px, -75px);
//   }
// }

.modal-window__footer-map-container {
  // для карты
  transform: translate(-500px, -282.5px);
  display: block;
}

@media screen and (max-width: 1000px) {
  .modal-window__footer-map-container {
    transform: translate(-275px, -150px);
  }
}

.modal-window__solutions-video {
  // для трех видео 
  width: 1000px;
  height: 565px;
}

@media screen and (max-width: 1000px) {
  .modal-window__solutions-video {
    width: 550px;
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .modal-window__solutions-video {
    // width: 100vw;
    // height: 100vh;
    transform: rotate(90deg);
    // position: none;
  }
}

// .tooltip {
//   display: none; // убрать
// }

.map-modal__script {
  width: 1000px;
  height: 565px;
}

@media screen and (max-width: 1000px) {
  .map-modal__script {
    display: none;
  }
}


.modal-window__contact-form-container {
  transform: translate(-200px, -125px);
}

@media screen and (max-width: 410px) {
  .modal-window__contact-form-container {
    transform: translate(-150px, -125px);
  }
}

.modal-window__form-text {
  // для формы
  @include flex(center, center);
  text-align: center;
  width: 400px;
  min-height: 250px;
  padding: 20px;
  outline: 5px solid $secondary-color;
  @include font($primary-font, 600, 2.5rem, $primary-font-color);
  line-height: 50px;
  background-color: #fff;

  // flex($jcc: initial, $aic: initial, $flw: initial, $fld: initial)
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

@media screen and (max-width: 410px) {
  .modal-window__form-text {
    width: 300px;
  }
}