.tooltip {
  position: absolute;
  @extend %centering-flex-container;
  min-width: 170px;
  height: 50px;
  padding: 5px;
  border: 2px solid $secondary-color;
  // content: 'Click to See the Map';
  @include font($primary-font, 400, 1rem, $dark-font-color);
  background-color: #fff;
  // left: 400px;
  // bottom: 8px;
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease;
}

// @media screen and (max-width: 880px) {
//   .tooltip {
//     position: fixed;
//     top: 50px !important;
//     left: calc(50% - 150px) !important;

//     min-width: 300px;
//   }
// }

// .footer__adress-tooltip:hover {
//   background-color: #fff;
//   color: $secondary-color;
// }

.tooltip--active {
  visibility: visible;
  opacity: 1;

  // display: block;
}

.tooltip__triangle {
  position: absolute;
  bottom: -18px;
  left: -2px;
  border: 8px solid transparent;
  border-top: 8px solid $secondary-color;
}

// @media screen and (max-width: 880px) {
//   .tooltip__triangle {
//     display: none;
//   }
// }