.promo {
  background-color: $primary-color;

  @include sections-display-onscroll;

  .promo__container {
    // width: 1800px;
    display: flex;
    padding-top: 114px;
    padding-bottom: 70px;
  }

  @media screen and (max-width: 1400px) {
    .promo__container {
      @include pl-pr(40px);


    }
  }

  @media screen and (max-width: 992px) {
    .promo__container {
      padding-top: 80px;
      //  padding-bottom: 50px;
    }
  }

  .promo__left-side {
    width: 50%;
    padding-top: 10px;
  }

  .promo__title {

    @include font($secondary-font, 700, 3rem, $light-font-color);



    margin-bottom: 46px;
    line-height: 55px;
  }

  .promo__text {



    @include font($primary-font, 300, 1rem, $light-font-color);


    line-height: 28px;

    margin-bottom: 50px;
    max-width: 557px;
  }

  .promo__btn {


    @include font($primary-font, 400, 1rem, $light-font-color);

    border-color: #fff;

  }

  .promo__btn:hover {
    color: $primary-color;
    background-color: #fff;
  }

  .promo__right-side {
    width: 50%;
    padding-left: 100px;
  }

  @media screen and (max-width: 1350px) {
    .promo__right-side {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1350px) {
    .promo__carousel-container {
      width: 256px; // повторы 
      // height: 370px; // повторы 
    }

  }

  .slick-list {
    position: relative;
    margin-bottom: 30px;
  }

  .promo__carousel-slide {
    width: 256px; // повторы 
    height: 370px; // повторы 

    margin-right: 35px;
  }

  .promo__img {
    width: 256px; // повторы 
    height: 370px; // повторы 
  }

  .promo__img:hover {
    background-image: $secondary-color;
    // opacity: 1;
  }

  .promo__first-img {
    margin-right: 35px;
  }

  .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;

    background: url(../images/arrow.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: 0;

    // display: none !important;
  }

  .slick-prev {
    left: 5px;
    top: calc(50% - 45px);
    transform: rotate(270deg);

  }

  .slick-next {
    right: 5px;
    top: calc(50% - 45px);
    transform: rotate(90deg);
  }

  .slick-dots {

    @extend %centering-flex-container;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // margin-top: 30px;
    // display: none !important;
  }

  .slick-dots li {
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 10px;
  }

  .slick-dots li button {
    // list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slick-active {
    background-color: #fff;
    z-index: 100;
  }

}