// This mixin provides sections popup emergency on page scroll.
@mixin sections-display-onscroll {
  transform: translateY(250px);
  transition: 1s all ease;
  opacity: 0;

  @media screen and (max-width: 1024px) {
    & {
      transform: none;
      transition: none;
      opacity: 1;
    }
  }

  &--active {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin font($family: $default-font, $weight: 400, $size: 1rem, $color: initial) {
  font: {
    family: $family;
    weight: $weight;
    size: $size;
  }

  color: $color;
}

@mixin flex($jcc: initial, $aic: initial, $flw: initial, $fld: initial) {
  display: flex;
  justify-content: $jcc;
  align-items: $aic;

  flex: {
    wrap: $flw;
    direction: $fld;
  }
}

// This mixin used mostly to align elements in responsive design.
@mixin pl-pr($val) {
  padding: {
    left: $val;
    right: $val;
  }
}