$primary-color: #202b30;
$secondary-color: #fb414e;

// Font colors vars do not cover all font colors on the page.
$primary-font-color: #1f1f1f;
$secondary-font-color: #838383;
$dark-font-color: #000;
$light-font-color: #fff;

// Default system fonts used as a fallback fonts if necessary. They implemented to "body" selector in index.scss
$default-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Oxygen,
Ubuntu,
Cantarell,
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;
$primary-font: Roboto;
$secondary-font: 'Source Sans Pro';

%centering-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}