@mixin sections-display-onscroll {
  // Provides sections popup emergency on page scroll.
  opacity: 0;
  transition: 1s all ease;
  transform: translateY(250px);

  @media screen and (max-width: 1024px) {
    & {
      opacity: 1;
      transition: none;
      transform: none;
    }
  }

  &--active {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin font(
  $family: $default-font,
  $weight: 400,
  $size: 1rem,
  $color: initial
) {
  font: {
    family: $family;
    weight: $weight;
    size: $size;
  }

  color: $color;
}

@mixin flex($jcc: initial, $aic: initial, $flw: initial, $fld: initial) {
  display: flex;
  align-items: $aic;
  justify-content: $jcc;

  flex: {
    wrap: $flw;
    direction: $fld;
  }
}

@mixin pl-pr($val) {
  // Used mostly to align elements in responsive design.
  padding: {
    right: $val;
    left: $val;
  }
}
