.header {

  background: url(../images/office.jpg) no-repeat;
  background-size: auto auto;
  background-position-x: 50%;

  // padding-bottom: 245px; // по avocode ?
  // padding-bottom: 190px;




  .header__color-wrapper {
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 242px; // выставлено по картинке на экране 180

    // box-shadow: 0px -31px 13px -15px rgba(255, 255, 255, 1) inset;

  }


  @media screen and (max-width: 959px) {
    .header__color-wrapper {
      padding-bottom: 162px; // 142
    }
  }

  .header__upper {

    @include flex(space-between, baseline);
    padding-top: 50px; // 60
  }

  @media screen and (max-width: 1400px) {
    .header__upper {
      @include pl-pr(40px);


    }
  }

  .header__logo {
    width: 126px;
    height: 32px;
    display: block;
    padding-top: 10px;
  }

  .header__center {
    padding-top: 110px; // 126
  }

  @media screen and (max-width: 1400px) {
    .header__center {
      @include pl-pr(40px);

    }
  }

  .header__title {

    @include font($secondary-font, 700, 3.75rem, $light-font-color);

    max-width: 950px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px; // 66

    line-height: normal;
    letter-spacing: .3px;
  }

  .header__text {


    @include font($primary-font, 300, 1rem, $light-font-color);



    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;

    line-height: 28px;
  }

  .header__btn-container {
    text-align: center;
    // margin-bottom: 245px;
  }

  .header__btn {
    border-color: $secondary-color;
    display: inline-block;
  }

  .header__btn:hover {
    background-color: $secondary-color;
  }

  .header__start-btn {
    margin-right: 30px;
  }
}