.solutions {
  display: flex;
  justify-content: center;
  margin-top: -85px;


  // @include sections-display-onscroll;

  // padding-bottom: 140px;

  .solutions__card {
    max-width: 420px;
    min-height: 420px;
    padding: 77px 58px 66px 58px; // 73 bottom
    background-color: $primary-color;
    cursor: pointer;

    position: relative;

    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, .2);
  }

  @media screen and (max-width: 1200px) {
    .solutions__card {
      padding: 40px;
    }
  }


  .solutions__card:hover {
    background-color: $secondary-color;
    transition: .2s all ease;
    transform: scale(1.03);
    // transition: .3s transform ease;
  }

  .solutions__card:not(:last-child) {
    margin-right: 20px;
  }

  // .solutions__card-pointer {
  //   width: 50px;
  //   height: 60px;

  //   // z-index: 1000;

  //   position: absolute;
  //   top: 50px;
  //   right: 50px;

  //   // transform: rotate(-30deg);
  // }

  // .solutions__card-pointer:hover {
  // transform: translateX(-5px) rotate(-30deg);;
  // }

  .solutions__card-img {
    width: 61px;
    height: 61px;
    margin-bottom: 53px;
  }

  .solutions__card-title {
    margin-bottom: 59px; // 63


    @include font($primary-font, 500, 1.25rem, $light-font-color);


    position: relative;

  }

  .solutions__card-title:after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50px;
  }

  .solutions__card-text {

    @include font($primary-font, 300, 1rem, $light-font-color);



    line-height: 28px;
  }

}